<ace-carousel id="carousel-1" aria-roledescription="carousel" aria-label="CATrousel">
  <div class="ace-carousel-inner">
    <div class="ace-carousel-controls">
      <button ace-carousel-button-previous aria-controls="ace-carousel-slides" aria-label="Previous slide">PREV</button>
      <button ace-carousel-button-next aria-controls="ace-carousel-slides" aria-label="Next slide">NEXT</button>
    </div>
    <div id="ace-carousel-slides" ace-carousel-slides="" aria-live="polite">
      <div ace-carousel-slide="" role="group" aria-roledescription="slide" aria-label="1 of 5">
        <div class="ace-carousel-image">
          <img src="/img/carousel/cat1.jpg" alt="Grumpy cat">
        </div>
        <div class="ace-carousel-caption">
          <p>Slide 1</p>
        </div>
      </div>
      <div ace-carousel-slide="" role="group" aria-roledescription="slide" aria-label="2 of 5">
        <div class="ace-carousel-image">
          <img src="/img/carousel/cat2.jpg" alt="Tabby cat">
        </div>
        <div class="ace-carousel-caption">
          <p>Slide 2</p>
        </div>
      </div>
      <div ace-carousel-slide="" role="group" aria-roledescription="slide" aria-label="3 of 5">
        <div class="ace-carousel-image">
          <img src="/img/carousel/cat3.jpg" alt="British shorthair cat">
        </div>
        <div class="ace-carousel-caption">
          <p>Slide 3</p>
        </div>
      </div>
      <div ace-carousel-slide="" role="group" aria-roledescription="slide" aria-label="4 of 5">
        <div class="ace-carousel-image">
          <img src="/img/carousel/cat4.jpg" alt="Ginger cat">
        </div>
        <div class="ace-carousel-caption">
          <p>Slide 4</p>
        </div>
      </div>
      <div ace-carousel-slide="" role="group" aria-roledescription="slide" aria-label="5 of 5">
        <div class="ace-carousel-image">
          <img src="/img/carousel/cat5.jpg" alt="White cat">
        </div>
        <div class="ace-carousel-caption">
          <p>Slide 5</p>
        </div>
      </div>
    </div>
  </div>
</ace-carousel>
