<ace-carousel ace-carousel-infinite ace-carousel-selected-slide="2" aria-label="A carousel with infinite scroll and an initially selected slide" id="infinite-carousel">
  <button>Previous slide</button>
  <button>Next slide</button>
  <br><br>
  <div>
    <div>
      <h2>Potato</h2>
      <p>We exist to design, develop and launch purposeful and effective digital products.</p>
      <p><a href="https://p.ota.to">Get to know us</a></p>
      <img src="/img/logo.svg" height="120px" alt="Classic Spuddy">
    </div>
    <div>
      <h2>Making new tech count</h2>
      <p>Though new technologies excite and drive us, we are not just seduced by the promise. Instead, we find useful applications that either make existing products better or provide new human-centred solutions.</p>
      <p><a href="https://p.ota.to/work/making-new-tech-count">Find out more</a></p>
      <img src="/img/carousel/spuddy-goggles.png" height="120px" alt="Spuddy with virtual reality goggles">
    </div>
    <div>
      <h2>Making digital for real life</h2>
      <p>We deliberately design for context, environment, and user outcomes, delivering products that allow people to interact with the world around them more effectively, making things better.</p>
      <p><a href="https://p.ota.to/work/making-digital-for-real-life">Find out more</a></p>
      <img src="/img/carousel/spuddy-phone.png" height="120px" alt="Spuddy with headphones and camera">
    </div>
  </div>
</ace-carousel>
