<p>These buttons dispatch custom events</p>
<button id="prev-slide-btn">Prev slide</button>
<button id="next-slide-btn">Next slide</button>
<button id="add-slide-btn">Add slide to end</button>
<button id="remove-slide-btn">Remove last slide</button>

<hr>

<ace-carousel id="custom-events-carousel" aria-label="Carousel controlled through custom events">
  <button ace-carousel-previous-slide>Previous slide</button>
  <button ace-carousel-next-slide>Next slide</button>
  <div>
    <div>
      <h2>Potato</h2>
      <h3>made better</h3>
      <p>We exist to design, develop and launch purposeful and effective digital products.</p>
      <a href="https://p.ota.to">get to know us</a>
      <br><br>
      <img src="/img/logo.svg" height="120px" alt="default plain Spuddy">
    </div>
    <div>
      <h2>Making new tech count</h2>
      <h3>Uncovering the potential of emerging technology.</h3>
      <p>Though new technologies excite and drive us, we are not just seduced by the promise. Instead, we find useful applications that either make existing products better or provide new human-centred solutions.</p>
      <a href="https://p.ota.to/work/making-new-tech-count">learn more</a>
      <br><br>
      <img src="/img/carousel/spuddy-goggles.png" height="120px" alt="Spuddy with virtual reality goggles">
    </div>
    <div>
      <h2>Making digital for real life</h2>
      <h3>Shaping the physical world through interactions with digital experiences.</h3>
      <p>We deliberately design for context, environment, and user outcomes, delivering products that allow people to interact with the world around them more effectively, making things better.</p>
      <a href="https://p.ota.to/work/making-digital-for-real-life">learn more</a>
      <br><br>
      <img src="/img/carousel/spuddy-phone.png" height="120px" alt="Spuddy with headphones and camera">
    </div>
  </div>
</ace-carousel>
