<ace-carousel id="initially-set-slide-carousel" aria-label="CATrousel with initial slide set to 2" ace-carousel-active-slide-number="2">
  <button ace-carousel-previous-slide>Previous slide</button>
  <button ace-carousel-next-slide>Next slide</button>
  <div>
    <div>
      <img src="/img/carousel/cat1.jpg" alt="Grumpy cat">
      <p>Slide 1</p>
    </div>
    <div>
      <img src="/img/carousel/cat2.jpg" alt="Tabby cat">
      <p>Slide 2</p>
    </div>
    <div>
      <img src="/img/carousel/cat3.jpg" alt="British shorthair cat">
      <p>Slide 3</p>
    </div>
  </div>
</ace-carousel>
