/* COLORS */
$ace-color-focus: steelblue !default;
$ace-color-hover: #eee !default;
$ace-color-selected: #c2ddef !default;


/* SPACINGS */
$ace-spacing-base: 8px;
$ace-spacing-1: $ace-spacing-base;
$ace-spacing-2: $ace-spacing-base * 2;
$ace-spacing-3: $ace-spacing-base * 3;
$ace-spacing-4: $ace-spacing-base * 4;
