/* COLORS */
$ace-color-hover: #eee !default;
$ace-color-selected: steelblue !default;


/* SPACINGS */
$ace-spacing-base: 8px;
$ace-spacing-1: $ace-spacing-base;
$ace-spacing-2: $ace-spacing-base * 2;
$ace-spacing-3: $ace-spacing-base * 3;
$ace-spacing-4: $ace-spacing-base * 4;

$ace-scrollbar-width: 15px;


/* Z-INDEXES */
$ace-combobox-list-z-index: 1 !default;
$ace-menu-list-z-index: 1 !default;
$ace-select-list-z-index: 1 !default;
$ace-tooltip-list-z-index: 10 !default;
$ace-menu-list-z-index: 1 !default;
$ace-modal-z-index: 10 !default;
$ace-modal-backdrop-z-index: calc(#{$ace-modal-z-index} - 1) !default;
