include ../mixins/component-nav-item

aside
  nav(class='side-nav')
    ul(class='side-nav__list')
      li(class='side-nav__list-item')
        a(href='/getting-started') Getting started
      li(class='side-nav__list-item')
        a(href='/components') Components

        //- Component list
        ul(class='side-nav__sub-list')
          +component-nav-item('disclosure', 'Disclosure')
          +component-nav-item('listbox', 'Listbox')
          +component-nav-item('select', 'Select')
