aside
  nav(class='side-nav')
    ul(class='side-nav__list')
      li(class='side-nav__list-item')
        a(href='/getting-started') Getting started
      li(class='side-nav__list-item')
        a(href='/components') Components
