doctype html
html(lang='en')
  include head

  body
    include header
    main
      include aside
      article
        block article

    block scripts
    script(src='/js/prism.min.js')
    script(
      src='/js/script.js'
      type='module'
    )
