@import '../../common/constants';


/* VARIABLES */
$ace-combobox-list-bg-color: #fff !default;
$ace-combobox-list-height: auto !default;
$ace-combobox-selected-option-text-color: #fff !default;
$ace-combobox-selected-option-bg-color: $ace-color-selected !default;


/* STYLES */
ace-combobox {
  display: inline-block;
  position: relative;
}

[ace-combobox-input] {
  width: 100%;
}

[ace-combobox-list] {
  background: $ace-combobox-list-bg-color;
  height: $ace-combobox-list-height;
  left: 0;
  list-style: none;
  overflow-y: auto;
  position: absolute;
  text-align: left;
  top: 100%;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  z-index: $ace-combobox-list-z-index;

  &:not([ace-combobox-list-visible="true"]) {
    display: none;
  }

  [aria-selected="true"] {
    background: $ace-combobox-selected-option-bg-color;
    color: $ace-combobox-selected-option-text-color;
  }
}


// Import styles that ensure that the list doesn't overflow outside the viewport.
@import '../../common/utils';
