@import '../../common/constants';


/* VARIABLES */
$ace-combobox-list-bg-color: #fff !default;
$ace-combobox-list-z-index: 1 !default;
$ace-combobox-option-selected-bg-color: $ace-color-selected !default;


/* STYLES */
ace-combobox {
  display: inline-block;
  position: relative;
}

[ace-combobox-input] {
  width: 100%;
}

[ace-combobox-list] {
  background: $ace-combobox-list-bg-color;
  height: auto;
  left: 0;
  list-style: none;
  position: absolute;
  text-align: left;
  top: 100%;
  white-space: nowrap;
  width: 100%;
  z-index: $ace-combobox-list-z-index;
}

[ace-combobox-list-visible="false"] {
  display: none;
}

[ace-combobox-option] {
  &:hover {
    background-color: $ace-combobox-option-selected-bg-color;
  }
}

[ace-combobox-option-selected] {
  background-color: $ace-combobox-option-selected-bg-color;
}


@import '../../common/utils';
