<button id="dummy-button">
    Dummy button
</button>

<button
      pa11y-disclosure-trigger-for="disclosure1">
    Toggle Disclosure 1
</button>

<button
      pa11y-disclosure-trigger-for="disclosure2">
    Toggle Disclosure 2
</button>

<div
      id="disclosure1"
      pa11y-disclosure>
    <h1>Disclosure 1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur provident quos placeat id.</p>
</div>

<div
      id="disclosure2"
      pa11y-disclosure>
    <h1>Disclosure 2</h1>
    <p>Impedit laboriosam nesciunt id aliquid illo magni illum deserunt distinctio et, ab, perspiciatis placeat consequatur.</p>
</div>
