<div
      pa11y-disclosure-trigger-for="disclosure3">
    Toggle Disclosure 3
</div>

<div
      pa11y-disclosure-trigger-for="disclosure4">
    Toggle Disclosure 4
</div>

<div
      id="disclosure3"
      pa11y-disclosure>
    <h1>Disclosure 3</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur provident quos placeat id.</p>
</div>

<div
      id="disclosure4"
      pa11y-disclosure>
    <h1>Disclosure 4</h1>
    <p>Impedit laboriosam nesciunt id aliquid illo magni illum deserunt distinctio et, ab, perspiciatis placeat consequatur.</p>
</div>
