<ace-listbox class="styled-listbox">
	<label id="styled-listbox-label" class="styled-listbox__label">Choose an Avenger:</label>
	<ul aria-labelledby="styled-listbox-label" class="styled-listbox__list">
		<li class="styled-listbox__option">
			<img alt="Potato logo" class="styled-listbox__img" src="/img/logo.svg">
			Iron Man
		</li>
		<li class="styled-listbox__option">
			<img alt="Potato logo" class="styled-listbox__img" src="/img/logo.svg">
			Nick Fury
		</li>
		<li class="styled-listbox__option">
			<img alt="Potato logo" class="styled-listbox__img" src="/img/logo.svg">
			Hulk
		</li>
		<li class="styled-listbox__option">
			<img alt="Potato logo" class="styled-listbox__img" src="/img/logo.svg">
			Thor
		</li>
		<li class="styled-listbox__option">
			<img alt="Potato logo" class="styled-listbox__img" src="/img/logo.svg">
			Captain America
		</li>
		<li class="styled-listbox__option">
			<img alt="Potato logo" class="styled-listbox__img" src="/img/logo.svg">
			Black Widow
		</li>
		<li class="styled-listbox__option">
			<img alt="Potato logo" class="styled-listbox__img" src="/img/logo.svg">
			Scarlet Witch
		</li>
	</ul>
</ace-listbox>
