@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800');

body {
  font-family: 'Work Sans', sans-serif;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5 {
  @extend .u-mb-s;

  margin-top: 0;
}

ul,
ol {
  list-style-position: inside;
}

.inline-code {
  background: $code-background-color;
  border-radius: 4px;
  padding: 2px 10px;
}

.code-toolbar {
  font-size: 1.4rem;
  margin: 16px 0 32px;
  position: relative;

  pre {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.toolbar-item {
  position: absolute;
  right: 5px;
  top: 5px;

  button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    padding: 3px 5px;
  }
}

.example-block {
  border: 1px solid black;
  font-size: 1.4rem;
  margin: 16px 0 32px;
  padding: 16px;
}

