<button>
	<img src="/img/clipboard.svg" aria-hidden="true" width="24px">
	<ace-tooltip>Tooltip text</ace-tooltip>
</button>

<hr>

<a href="#">
	Tooltip target
	<ace-tooltip>This will open a new window</ace-tooltip>
</a>

<hr>

<button aria-label="Copy">
	<img src="/img/clipboard.svg" aria-hidden="true" width="24px">
	<ace-tooltip>Copy to clipboard</ace-tooltip>
</button>

<hr>

<label id="tooltip-target-label">Copy</label><br>
<button aria-labelledby="tooltip-target-label">
	<img src="/img/clipboard.svg" aria-hidden="true" width="24px">
	<ace-tooltip>Copy to clipboard</ace-tooltip>
</button>
