<a href="#">
	Tooltip target
	<ace-tooltip>Tooltip with supplimentary text</ace-tooltip>
</a>

<hr>

<button aria-label="Tooltip target label">
	<img src="/img/clipboard.svg" aria-hidden="true">
	<ace-tooltip>Tooltip with supplimentary text</ace-tooltip>
</button>

<hr>

<label id="tooltip-target-label">Tooltip target label</label><br>
<button aria-labelledby="tooltip-target-label">
	<img src="/img/clipboard.svg" aria-hidden="true">
	<ace-tooltip>Tooltip with supplimentary text</ace-tooltip>
</button>

<hr>

<button>
	<img src="/img/clipboard.svg" aria-hidden="true">
	<ace-tooltip>Tooltip acting as target label</ace-tooltip>
</button>
