<div style="display: flex; justify-content: space-between;">
	<button>
		Tooltip target
		<ace-tooltip ace-tooltip-nowrap class="styled-tooltip">
			Tooltip with dummy text to demonstrate how they can be styled
		</ace-tooltip>
	</button>
	<button>
		Tooltip target
		<ace-tooltip ace-tooltip-nowrap class="styled-tooltip">
			Tooltip with dummy text to demonstrate how they can be styled
		</ace-tooltip>
	</button>
	<button>
		Tooltip target
		<ace-tooltip ace-tooltip-nowrap class="styled-tooltip">
			Tooltip with dummy text to demonstrate how they can be styled
		</ace-tooltip>
	</button>
</div>
