<h1>Select</h1>
<p>Select is a special type of <a href="/listbox">Listbox</a> component that mimics the native HTML <code>&lt;select&gt;</code> while allowing more styling flexibility.</p>
<p>Select conforms to W3C WAI-ARIA authoring practices specified <a href="https://www.w3.org/TR/examples/listbox/listbox-collapsible.html">here</a>.</p>
<h2>Instantiation</h2>
<p>First import the styles into your main SASS file, replacing <code>../path/to</code> with the path to <em>node_modules</em> relative to the file:</p>
<pre><code class="language-scss">@import '../path/to/node_modules/@potato/ace/components/select/select'
</code></pre>
<p>Then import the class into your JavaScript entry point:</p>
<pre><code class="language-js">import '@potato/ace/components/select/select';
</code></pre>
<p>For the sake of convenience the ES6 class is exported as <code>Select</code>. To avoid name clashes the <code>as</code> keyword can be used when importing, e.g. <code>import Select as aceSelect from ...</code>. The attribute names used by the class are also exported as properties of <code>ATTRS</code>.</p>
<p>After <code>DOMContentLoaded</code> is fired, Select automatically instantiates an instance of itself within each <code>&lt;ace-template&gt;&lt;/ace-template&gt;</code> and adds IDs in the format <code>ace-template-(n)</code> to any instances without one, where <code>(n)</code> is the instance count.</p>
<p>Select extends the Listbox class and applies its single-select attributes and functionality to a <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> nested within it, then hides it. If neither are present a <code>&lt;ul&gt;</code> is added automatically, which can be populated with options dynamically. Please see the <strong>Custom events</strong> section below for more details. Select uses a <code>&lt;button&gt;</code> as a trigger to show the hidden list, which if absent is also automatcally added with no text. If the list contains options, the button text is automatically updated to match that of the first option in the Listbox as it is the selected option.</p>
<h2>Usage</h2>
<p>The list is displayed when users click on the trigger or press <kbd>↑</kbd>, <kbd>↓</kbd>, <kbd>Enter</kbd> or <kbd>Space</kbd> while the trigger is focussed. The list is aware of it's position in the window and will appear below the trigger if there is enough space, otherwise it will appear above.</p>
<p>Clicking on an option or navigating to it using <kbd>↑</kbd> or <kbd>↓</kbd> and pressing <kbd>Enter</kbd> or <kbd>Space</kbd> will select the option, hide the list and update the trigger text to match that of the selected option.</p>
<p>Type-ahead can also be used to select an option by typing one or more characters that the option's text starts with. Repeatedly typing the same character with a short delay in-between will cycle through all matching options. Type-ahead can be used on a focussed trigger, which will select the option and update the trigger text, or in a list where it will only select the option but not update the trigger text until <kbd>Enter</kbd> or <kbd>Space</kbd> are pressed to confirm. Pressing <kdb>Esc</kbd> or clicking outside the element closes an open list without confirming a change in selected option.</p>
<h2>Styles</h2>
<p>The following SASS is applied to the component, each declaration of which can be overridden by a single class selector. The SASS variables use <code>!default</code> so can also be easily overridden by users. The list also inherits Listbox styles detailed in the <em>SASS</em> section <a href="/listbox">here</a>.</p>
<pre><code class="language-scss">@import '../listbox/listbox';


/* VARIABLES */
$ace-select-list-background-color: #fff !default;
$ace-select-list-height: auto !default;
$ace-select-list-z-index: 1 !default;


/* STYLES */
ace-select {
  position: relative;
}

[ace-select-list] {
  background: $ace-select-list-background-color;
  height: $ace-select-list-height;
  left: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  white-space: nowrap;
  z-index: $ace-select-list-z-index;
}

[ace-select-list-visible=&quot;false&quot;] {
  display: none;
}


@import '../../common/utils';
</code></pre>
<h2>Custom events</h2>
<p>Select uses the following custom events, the names of which are exported as properties of <code>EVENTS</code>, similar to <code>ATTRS</code>, so they may be imported into other modules and dispatched or listened for.</p>
<h3>Ready</h3>
<p><code>ace-select-ready</code></p>
<p>This event is dispatched on <code>window</code> when Select finishes initialising and its <code>detail</code> object is composed as follows:</p>
<pre><code class="language-js">'detail': {
  'id': // ID of Select
}
</code></pre>
<h3>Option selected</h3>
<p><code>ace-select-option-selected</code></p>
<p>This event is dispatched on <code>window</code> when a new option is selected and its <code>detail</code> object is composed as follows:</p>
<pre><code class="language-js">'detail': {
  'id': // ID of the Select
  'option': {
    'id': // ID of selected option
    'index': // Index of selected option
  },
}
</code></pre>
<h3>Update options</h3>
<p><code>ace-select-update-options</code></p>
<p>This event should be dispatched when a Listbox's options are altered, e.g. when options are added or deleted. The event <code>detail</code> object should be composed as follows:</p>
<pre><code class="language-js">'detail': {
  'id': // ID of Select
}
</code></pre>
<h2>Examples</h2>
<p>Each example contains a live demo and the HTML code that produced it. The code shown may differ slightly to that rendered for the demo as some components may alter their HTML when they initialise.</p>
<h3>Simple Select</h3>
<p>The default Select.</p>
<div class="example-block"><ace-select>
  <button></button>
  <ul>
    <li>Select an option</li>
    <li>Iron Man</li>
    <li>Nick Fury</li>
    <li>Hulk</li>
    <li>Black Widow</li>
    <li>Thor</li>
    <li>Captain America</li>
    <li>Scarlet Witch</li>
    <li>Ant-Man</li>
    <li>Spider-man</li>
    <li>Black Panther</li>
    <li>Doctor Strange</li>
    <li>Captain Marvel</li>
  </ul>
</ace-select>
</div>
<pre><code class="language-html">&lt;ace-select&gt;
  &lt;button&gt;&lt;/button&gt;
  &lt;ul&gt;
    &lt;li&gt;Select an option&lt;/li&gt;
    &lt;li&gt;Iron Man&lt;/li&gt;
    &lt;li&gt;Nick Fury&lt;/li&gt;
    &lt;li&gt;Hulk&lt;/li&gt;
    &lt;li&gt;Black Widow&lt;/li&gt;
    &lt;li&gt;Thor&lt;/li&gt;
    &lt;li&gt;Captain America&lt;/li&gt;
    &lt;li&gt;Scarlet Witch&lt;/li&gt;
    &lt;li&gt;Ant-Man&lt;/li&gt;
    &lt;li&gt;Spider-man&lt;/li&gt;
    &lt;li&gt;Black Panther&lt;/li&gt;
    &lt;li&gt;Doctor Strange&lt;/li&gt;
    &lt;li&gt;Captain Marvel&lt;/li&gt;
  &lt;/ul&gt;
&lt;/ace-select&gt;
</code></pre>
<h3>Select with options containing images</h3>
<p>A Select with options containing images.</p>
<div class="example-block"><ace-select>
  <button></button>
  <ul>
    <li style="align-items: center; display: flex;">
      <img src="/img/logo.svg" width="60px">&nbsp;
      Iron Man
    </li>
    <li style="align-items: center; display: flex;">
      <img src="/img/logo.svg" width="60px">&nbsp;
      Hulk
    </li>
    <li style="align-items: center; display: flex;">
      <img src="/img/logo.svg" width="60px">&nbsp;
      Thor
    </li>
    <li style="align-items: center; display: flex;">
      <img src="/img/logo.svg" width="60px">&nbsp;
      Captain America
    </li>
  </ul>
</ace-select>
</div>
<pre><code class="language-html">&lt;ace-select&gt;
  &lt;button&gt;&lt;/button&gt;
  &lt;ul&gt;
    &lt;li style=&quot;align-items: center; display: flex;&quot;&gt;
      &lt;img src=&quot;/img/logo.svg&quot; width=&quot;60px&quot;&gt;&amp;nbsp;
      Iron Man
    &lt;/li&gt;
    &lt;li style=&quot;align-items: center; display: flex;&quot;&gt;
      &lt;img src=&quot;/img/logo.svg&quot; width=&quot;60px&quot;&gt;&amp;nbsp;
      Hulk
    &lt;/li&gt;
    &lt;li style=&quot;align-items: center; display: flex;&quot;&gt;
      &lt;img src=&quot;/img/logo.svg&quot; width=&quot;60px&quot;&gt;&amp;nbsp;
      Thor
    &lt;/li&gt;
    &lt;li style=&quot;align-items: center; display: flex;&quot;&gt;
      &lt;img src=&quot;/img/logo.svg&quot; width=&quot;60px&quot;&gt;&amp;nbsp;
      Captain America
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/ace-select&gt;
</code></pre>
<h3>Select with dynamic options</h3>
<p>In this example the Select instantiates with an empty <code>&lt;ul&gt;</code> that can be populated with options using <strong>Add option</strong>. The first option can be removed using the <strong>Remove option</strong>. Both these buttons dispatch the <code>ace-select-update-options</code> event that updates the Listbox and the trigger text. The extra JavaScript code required by this example is also included below.</p>
<div class="example-block"><button id="add-option">
  Add option
</button>
<button id="remove-option">
  Remove option
</button>
<ace-select id="dynamic-select">
  <button>No options yet</button>
</ace-select>
</div>
<pre><code class="language-html">&lt;button id=&quot;add-option&quot;&gt;
  Add option
&lt;/button&gt;
&lt;button id=&quot;remove-option&quot;&gt;
  Remove option
&lt;/button&gt;
&lt;ace-select id=&quot;dynamic-select&quot;&gt;
  &lt;button&gt;No options yet&lt;/button&gt;
&lt;/ace-select&gt;
</code></pre>
<pre><code class="language-js">import {EVENTS} from '/ace/components/select/select.js';

document.addEventListener('DOMContentLoaded', () =&gt; {
  const selectId = 'dynamic-select';
  const selectListEl = document.querySelector(`#${selectId} ul`);

  const updateOptions = () =&gt; {
    window.dispatchEvent(new CustomEvent(
      EVENTS.UPDATE_OPTIONS,
      {
        'detail': {
          'id': selectId,
        }
      },
    ));
  };

  document.getElementById('add-option')
    .addEventListener('click', () =&gt; {
      selectListEl.innerHTML += '&lt;li&gt;New Option&lt;/li&gt;';
      updateOptions();
    });

  document.getElementById('remove-option')
    .addEventListener('click', () =&gt; {
      const fistOptionEl = selectListEl.querySelector('li');
      if (!fistOptionEl) {
        return;
      }
      selectListEl.removeChild(fistOptionEl);
      updateOptions();
    });
});
</code></pre>
