<button ace-disclosure-trigger-for="simple-disclosure">
  Disclosure 1 toggle trigger 1
</button>
<button ace-disclosure-trigger-for="simple-disclosure">
  Disclosure 1 toggle trigger 2
</button>
<button ace-disclosure-trigger-for="initially-visible-disclosure">
  Disclosure 2 toggle trigger
</button>
<button ace-disclosure-trigger-for="initially-visible-disclosure" ace-disclosure-trigger-show>
  Disclosure 2 show trigger
</button>
<button ace-disclosure-trigger-for="initially-visible-disclosure" ace-disclosure-trigger-hide>
  Disclosure 2 hide trigger
</button>
<hr>
<ace-disclosure id="simple-disclosure">
  <h2>Disclosure 1</h2>
  <p>This Disclosure is initially hidden.</p>
  <img src="/img/logo.svg" height="100px" alt="Potato logo"/>
</ace-disclosure>

<ace-disclosure ace-disclosure-visible="true" id="initially-visible-disclosure">
  <h2>Disclosure 2</h2>
  <p>This Disclosure is initially visible becasue it has the attribute <code>ace-disclosure-visible="true"</code>.</p>
  <img src="/img/phone-spuddy.png" height="100px" alt="Potato Spuddy with headphones and phone"/>
</ace-disclosure>
