/* VARIABLES */
$ace-tabs-tablist-margin: 16px !default;
$ace-tabs-tab-bg-colour: transparent !default;
$ace-tabs-tab-padding-horizontal: 32px !default;
$ace-tabs-tab-padding-vertical: 8px !default;
$ace-tabs-tab-hover-bg-colour: #eee !default;
$ace-tabs-active-tab-border-colour: #3297fd !default;
$ace-tabs-active-tab-border-width: 2px !default;


/* STYLES */
[ace-tabs-vertical] {
  display: flex;
}

[ace-tabs-tablist] {
  display: flex;
  margin: 0 0 $ace-tabs-tablist-margin 0;
  overflow: auto hidden;
  white-space: nowrap;
}

[ace-tabs-tab] {
  background-color: $ace-tabs-tab-bg-colour;
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 $ace-tabs-active-tab-border-width 0;
  cursor: pointer;
  padding: $ace-tabs-tab-padding-vertical $ace-tabs-tab-padding-horizontal;

  &:hover {
    background-color: $ace-tabs-tab-hover-bg-colour;
  }

  &:focus {
    // TODO: Add keyboard only focus
    outline: none;
  }
}

[ace-tabs-tab-visible="false"] {
  display: none;
}

[ace-tabs-active-tab] {
  border-bottom-color: $ace-tabs-active-tab-border-colour;
}


// Vertical variant
[ace-tabs-vertical-tablist] {
  flex-direction: column;
  margin: 0 $ace-tabs-tablist-margin 0 0;
  overflow: hidden auto;
}

[ace-tabs-vertical-tab] {
  border-width: 0 $ace-tabs-active-tab-border-width 0 0;

  &[ace-tabs-active-tab] {
    border-right-color: $ace-tabs-active-tab-border-colour;
  }
}
