.ace-listbox-with-images {
  ul {
    height: 150px;
  }

  li {
    align-items: center;
    display: flex;
    padding: 10px;
    white-space: nowrap;

    img {
      margin-right: 10px;
      width: 20px;
    }
  }
}
