.animated-accordion {
  @media (prefers-reduced-motion: no-preference) {
    $trans-duration: .2s;

    [ace-accordion-panel] {
      display: block;
      overflow: hidden;
    }

    [ace-accordion-panel-visible="false"] {
      max-height: 0;
      transition: max-height $trans-duration ease-out, visibility 0s linear $trans-duration;
      visibility: hidden;
    }

    [ace-accordion-panel-visible="true"] {
      max-height: 180px;
      transition: max-height $trans-duration ease-in;
      visibility: visible;
    }
  }
}
