<h2>Potato</h2>
<p>Things we do at Potato:</p>

<ace-accordion class="styled-accordion" id="animated-accordion" >
	<h3 class="styled-accordion__header">
		<button class="styled-accordion__trigger">
			Making new tech count
		</button>
	</h3>
	<div class="styled-accordion__panel">
		<div class="styled-accordion__panel-inner">
			<p>
				It’s the positive and transformative effects of technology that matter, not the technology itself.
			</p>
			<p>
				<a href="https://p.ota.to/work/making-new-tech-count" target="_blank">
					Find out more
				</a>
			</p>
			<img src="/img/logo.svg" height="100px" alt="Potato logo"/>
		</div>
	</div>

	<h3 class="styled-accordion__header">
		<button class="styled-accordion__trigger">
			Making digital for real life
		</button>
	</h3>
	<div class="styled-accordion__panel">
		<div class="styled-accordion__panel-inner">
			<p>
				People value digital products that enhance their lives and positively complement their interactions with the world.
			</p>
			<p>
				<a href="https://p.ota.to/work/making-digital-for-real-life" target="_blank">
					Find out more
				</a>
			</p>
			<img src="/img/phone-spuddy.png" height="100px" alt="Potato Spuddy with headphones and phone"/>
		</div>
	</div>

	<h3 class="styled-accordion__header">
		<button class="styled-accordion__trigger">
			Building for people first
		</button>
	</h3>
	<div class="styled-accordion__panel">
		<div class="styled-accordion__panel-inner">
			<p>
				Gaining direct insight through testing products with people is the fundamental requirement to make things better.
			</p>
			<p>
				<a href="https://p.ota.to/work/building-for-people-first" target="_blank">
					Find out more
				</a>
			</p>
			<img src="/img/goggles-spuddy.png" height="100px" alt="Potato Spuddy with virtual reality goggles"/>
		</div>
	</div>
</ace-accordion>
