<div class="styled-menu-container">
	<ace-menu class="styled-menu">
		<button aria-label="View more options" title="View more options" class="styled-menu__trigger">
		</button>
		<ul class="styled-menu__list">
			<li class="styled-menu__option">
				<img alt="Potato logo" src="/img/logo.svg" />
				First option
			</li>
			<li class="styled-menu__option">
				<img alt="Potato Spuddy with headphones and phone" src="/img/phone-spuddy.png" />
				Second option
			</li>
			<li class="styled-menu__option">
				<img alt="Potato Spuddy with virtual reality goggles" src="/img/goggles-spuddy.png" />
				Third option
			</li>
		</ul>
	</ace-menu>
</div>
