<h1>Carousel</h1>
<p>A carousel presents a set of items, referred to as slides, by sequentially displaying a subset of one or more slides. Typically, one slide is displayed at a time, and users can activate a next or previous slide control that hides the current slide and &quot;rotates&quot; the next or previous slide into view. In some implementations, rotation automatically starts when the page loads, and it may also automatically stop once all the slides have been displayed. While a slide may contain any type of content, image carousels where each slide contains nothing more than a single image are common. Carousel conforms to the <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#carousel">W3C WAI-ARIA authoring practices</a>.</p>
<h2>Instantiation</h2>
<p>First import the styles into your main SASS file, replacing <code>../path/to</code> with the path to <em>node_modules</em> relative to the file:</p>
<pre><code class="language-scss">@import '../path/to/node_modules/@potato/ace/components/carousel/carousel'
</code></pre>
<p>Then import the class into your JavaScript entry point:</p>
<pre><code class="language-js">import '@potato/ace/components/carousel/carousel';
</code></pre>
<p>For the sake of convenience the ES6 class is exported as <code>Carousel</code>. To avoid name clashes the <code>as</code> keyword can be used when importing, e.g. <code>import Carousel as aceCarousel from ...</code>. The attribute names used by the class are also exported as properties of <code>ATTRS</code>.</p>
<p>After <code>DOMContentLoaded</code> is fired, Carousel automatically instantiates an instance of itself within each <code>&lt;ace-carousel&gt;&lt;/ace-carousel&gt;</code> and adds IDs in the format <code>ace-carousel-(n)</code> to any instances without one, where <code>(n)</code> is the instance count.</p>
<h3>ARIA atributes and roles</h3>
<p>For some aria attributes and roles, the value can be changed (i.e., <code>aria-label</code>), whereas for others, the value will be replaced with the correct one (i.e., <code>role=&quot;slide&quot;</code>).</p>
<p><em>Note</em>: If these aria attributes and roles are not provided, they will be automatically added with the appropriate value. Aria labels are added with a default value <strong>only</strong> if they haven't been provided. If you addd aria labels, please ensure the text is descriptive enough. You can find out more about aria attributes and roles in the <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#carousel">ARIA carousel specification</a>. <code>alt</code> text is not added by default, but is recommended for images.</p>
<p>Here's a breakdown of added aria attributes and roles, and which ones can be edited:</p>
<table>
<thead>
<tr>
<th>Attribute</th>
<th>Element</th>
<th>Usage</th>
<th>Editable</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>role=&quot;region&quot;</code></td>
<td><code>ace-carousel</code></td>
<td>Defines the carousel and its controls as a land mark region.</td>
<td>No</td>
</tr>
<tr>
<td><code>aria-roledescription=&quot;carousel&quot;</code></td>
<td><code>ace-carousel</code></td>
<td>Informs assistive technologies to identify the element as a &quot;carousel&quot; rather than a &quot;region.&quot; Affects how the assistive technology renders the role but does not affect functionality, such as commands for navigating to landmark regions.</td>
<td>No</td>
</tr>
<tr>
<td><code>aria-label=&quot;Page carousel&quot;</code></td>
<td><code>ace-carousel</code></td>
<td>Provides a label that describes the content in the carousel region.</td>
<td>Yes</td>
</tr>
<tr>
<td><code>aria-label=&quot;Go to previous/next/first/last slide&quot;</code></td>
<td><code>button</code></td>
<td>Defines the accessible name for the next and previous slide buttons. In a carousel with infinite rotation, the labels specify the first and last slide.</td>
<td>No</td>
</tr>
<tr>
<td><code>aria-controls=&quot;ace-carousel-slides&quot;</code></td>
<td><code>button</code></td>
<td>Identifies the content on the page that the button controls; Refers to the div that contains all the slides.</td>
<td>No</td>
</tr>
<tr>
<td><code>aria-live=&quot;polite&quot;</code></td>
<td><code>div[ace-carousel-slides]</code></td>
<td>Identifies the container element as a live region in the &quot;polite&quot; state, meaning assistive technology users are informed about changes to the region at the next available opportunity. This causes screen readers to automatically announce the content of slides when the next and previous slide buttons are activated.</td>
<td>No</td>
</tr>
<tr>
<td><code>role=&quot;group&quot; </code></td>
<td><code>div[ace-carousel-slide]</code></td>
<td>Applied to each of the elements that contains the content of a single slide; Enables assistive technology users to perceive the boundaries of a slide.</td>
<td>No</td>
</tr>
<tr>
<td><code>aria-roledescription=&quot;slide&quot;</code></td>
<td><code>div[ace-carousel-slide]</code></td>
<td>Informs assistive technologies to identify the element as a &quot;slide&quot; rather than a &quot;group.&quot;</td>
<td>No</td>
</tr>
<tr>
<td><code>aria-label=&quot;n of N&quot;</code></td>
<td><code>div[ace-carousel-slide]</code></td>
<td>Provides each slide with a distinct label that helps the user understand which of the N slides is displayed.</td>
<td>Yes</td>
</tr>
</tbody>
</table>
<h2>Styles</h2>
<p>The following SASS is applied to the component, each declaration of which can be overridden by a single class selector.</p>
<pre><code class="language-scss">[ace-carousel-slide] {
  display: none;
}

[ace-carousel-slide-active] {
  display: block;
}
</code></pre>
<p>The current slide is displayed by adding an <code>ace-carousel-slide-active</code> attribute on the appropriate <code>div[ace-carousel-slide]</code>. You can override this for custom animations. The captions, buttons, and other elements can be customised via CSS.</p>
<p><em>Note</em>: We will showcase a carousel with controls and captions displayed above and below the image, which is <a href="https://www.w3.org/TR/wai-aria-practices-1.1/examples/carousel/carousel-1.html?moreaccessible">considered more accessible</a>. If you choose to display controls and captions on the image, please take into consideration adding backgrounds via CSS to make them more perceivable.</p>
<h2>Custom events</h2>
<p>Carousel uses the following custom events, the names of which are exported as properties of <code>EVENTS</code>, similar to <code>ATTRS</code>, so they may be imported into other modules and dispatched or listened for.</p>
<h3>Changed</h3>
<p><code>ace-carousel-changed</code></p>
<p>This event is dispatched when a Carousel visibility is changed and its <code>detail</code> object is composed as follows:</p>
<pre><code class="language-js">'detail': {
  'currentSlideNumber': // The number of the current slide being shown
  'id': // ID of Carousel
}
</code></pre>
<h2>Examples</h2>
<p>Each example contains a live demo and the HTML code that produced it. The code shown may differ slightly to that rendered for the demo as some components may alter their HTML when they initialise.</p>
<h3>Simple Carousel</h3>
<p>This is a simple carousel, which changes slides by clicking &quot;previous&quot; or &quot;next&quot; buttons. When the carousel reaches the first or last slides, the &quot;previous&quot; and &quot;next&quot; buttons respectively get disabled.</p>
<div class="example-block"><ace-carousel aria-label="CATrousel">
  <button>Previous slide</button>
  <button>Next slide</button>
  <div>
    <div>
      <img src="/img/carousel/cat1.jpg" alt="Grumpy cat">
      <p>Slide 1</p>
    </div>
    <div>
      <img src="/img/carousel/cat2.jpg" alt="Tabby cat">
      <p>Slide 2</p>
    </div>
    <div>
      <img src="/img/carousel/cat3.jpg" alt="British shorthair cat">
      <p>Slide 3</p>
    </div>
  </div>
</ace-carousel>
</div>
<pre><code class="language-html">&lt;ace-carousel aria-label=&quot;CATrousel&quot;&gt;
  &lt;button&gt;Previous slide&lt;/button&gt;
  &lt;button&gt;Next slide&lt;/button&gt;
  &lt;div&gt;
    &lt;div&gt;
      &lt;img src=&quot;/img/carousel/cat1.jpg&quot; alt=&quot;Grumpy cat&quot;&gt;
      &lt;p&gt;Slide 1&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;img src=&quot;/img/carousel/cat2.jpg&quot; alt=&quot;Tabby cat&quot;&gt;
      &lt;p&gt;Slide 2&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;img src=&quot;/img/carousel/cat3.jpg&quot; alt=&quot;British shorthair cat&quot;&gt;
      &lt;p&gt;Slide 3&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/ace-carousel&gt;
</code></pre>
<h3>Carousel with inifinite rotation</h3>
<p>With the attribute <code>ace-carousel-wrapping</code>, the &quot;previous&quot; and &quot;next&quot; buttons are not disabled anymore. Instead they reset from the last and first slide respectively. This is an observed attribute, which can be set dynamically and tested in dev tools.</p>
<div class="example-block"><ace-carousel id="wrapping-carousel" aria-label="A CATrousel with infinite scroll" ace-carousel-wrapping>
  <button ace-carousel-previous-slide>Previous slide</button>
  <button ace-carousel-next-slide>Next slide</button>
  <div>
    <div>
      <img src="/img/carousel/cat1.jpg" alt="Grumpy cat">
      <p>Slide 1</p>
    </div>
    <div>
      <img src="/img/carousel/cat2.jpg" alt="Tabby cat">
      <p>Slide 2</p>
    </div>
    <div>
      <img src="/img/carousel/cat3.jpg" alt="British shorthair cat">
      <p>Slide 3</p>
    </div>
  </div>
</ace-carousel>
</div>
<pre><code class="language-html">&lt;ace-carousel id=&quot;wrapping-carousel&quot; aria-label=&quot;A CATrousel with infinite scroll&quot; ace-carousel-wrapping&gt;
  &lt;button ace-carousel-previous-slide&gt;Previous slide&lt;/button&gt;
  &lt;button ace-carousel-next-slide&gt;Next slide&lt;/button&gt;
  &lt;div&gt;
    &lt;div&gt;
      &lt;img src=&quot;/img/carousel/cat1.jpg&quot; alt=&quot;Grumpy cat&quot;&gt;
      &lt;p&gt;Slide 1&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;img src=&quot;/img/carousel/cat2.jpg&quot; alt=&quot;Tabby cat&quot;&gt;
      &lt;p&gt;Slide 2&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;img src=&quot;/img/carousel/cat3.jpg&quot; alt=&quot;British shorthair cat&quot;&gt;
      &lt;p&gt;Slide 3&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/ace-carousel&gt;
</code></pre>
<h3>Carousel with a set current slide</h3>
<p>With the attribute <code>ace-carousel-active-slide-number</code> you can specify which slide to show by number (i.e. 2 will show second slide). This is an observed attribute, which can be set dynamically and tested in dev tools.</p>
<div class="example-block"><ace-carousel id="initially-set-slide-carousel" aria-label="CATrousel with initial slide set to 2" ace-carousel-active-slide-number="2">
  <button ace-carousel-previous-slide>Previous slide</button>
  <button ace-carousel-next-slide>Next slide</button>
  <div>
    <div>
      <img src="/img/carousel/cat1.jpg" alt="Grumpy cat">
      <p>Slide 1</p>
    </div>
    <div>
      <img src="/img/carousel/cat2.jpg" alt="Tabby cat">
      <p>Slide 2</p>
    </div>
    <div>
      <img src="/img/carousel/cat3.jpg" alt="British shorthair cat">
      <p>Slide 3</p>
    </div>
  </div>
</ace-carousel>
</div>
<pre><code class="language-html">&lt;ace-carousel id=&quot;initially-set-slide-carousel&quot; aria-label=&quot;CATrousel with initial slide set to 2&quot; ace-carousel-active-slide-number=&quot;2&quot;&gt;
  &lt;button ace-carousel-previous-slide&gt;Previous slide&lt;/button&gt;
  &lt;button ace-carousel-next-slide&gt;Next slide&lt;/button&gt;
  &lt;div&gt;
    &lt;div&gt;
      &lt;img src=&quot;/img/carousel/cat1.jpg&quot; alt=&quot;Grumpy cat&quot;&gt;
      &lt;p&gt;Slide 1&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;img src=&quot;/img/carousel/cat2.jpg&quot; alt=&quot;Tabby cat&quot;&gt;
      &lt;p&gt;Slide 2&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;img src=&quot;/img/carousel/cat3.jpg&quot; alt=&quot;British shorthair cat&quot;&gt;
      &lt;p&gt;Slide 3&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/ace-carousel&gt;
</code></pre>
