<label id="styled-select-label" class="styled-select-label">Choose an Avenger:</label>
<ace-select class="styled-select">
	<button ace-select-trigger class="styled-select__trigger">
	</button>
	<ul aria-labelledby="styled-select-label" class="styled-select__list">
		<li class="styled-select__option">
			Select an option
		</li>
		<li class="styled-select__option">
			<img alt="Potato logo" class="styled-select__img" src="/img/logo.svg" />
			Iron Man
		</li>
		<li class="styled-select__option">
			<img alt="Potato logo" class="styled-select__img" src="/img/logo.svg" />
			Nick Fury
		</li>
		<li class="styled-select__option">
			<img alt="Potato logo" class="styled-select__img" src="/img/logo.svg" />
			Hulk
		</li>
		<li class="styled-select__option">
			<img alt="Potato logo" class="styled-select__img" src="/img/logo.svg" />
			Thor
		</li>
		<li class="styled-select__option">
			<img alt="Potato logo" class="styled-select__img" src="/img/logo.svg" />
			Captain America
		</li>
		<li class="styled-select__option">
			<img alt="Potato logo" class="styled-select__img" src="/img/logo.svg">
			Black Widow
		</li>
		<li class="styled-select__option">
			<img alt="Potato logo" class="styled-select__img" src="/img/logo.svg" />
			Scarlet Witch
		</li>
	</ul>
</ace-select>
