<h1>Listbox</h1>
<p>Listbox is a list of options that allows users to select one (single-select) or more (multi-select) using a mouse or keyboard.</p>
<p>Listbox conforms to W3C WAI-ARIA authoring practices specified <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#Listbox">here</a>.</p>
<h2>Instantiation</h2>
<p>First import the styles into your main SASS file, replacing <code>&lt;path-to-node_modules&gt;</code> with the path to the <em>node_modules</em> directory relative to the file:</p>
<pre><code class="language-scss">@import '&lt;path-to-node_modules&gt;/@potato/ace/components/listbox/listbox'
</code></pre>
<p>Then import the class into your JavaScript entry point:</p>
<pre><code class="language-js">import '&lt;path-to-node_modules&gt;/@potato/ace/components/listbox/listbox';
</code></pre>
<p>For the sake of convenience the ES6 class is exported as <code>Listbox</code>. To avoid name clashes the <code>as</code> keyword can be used when importing, e.g. <code>import Listbox as aceListbox from ...</code>. The attribute names used by the class are also exported as properties of <code>ATTRS</code>.</p>
<p>After <code>DOMContentLoaded</code> is fired, Listbox automatically instantiates an instance of itself within each <code>ace-listbox</code> element. Listbox then adds an ID <code>ace-listbox-&lt;n&gt;</code> for any instance without an ID, where <code>&lt;n&gt;</code> is the instance number. Listbox then adds its functionality to a <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> nested within it. If neither are present a <code>&lt;ul&gt;</code> is added automatically, which can be populated with options dynamically. See the <strong>Custom events</strong> section below for more details. Once instantiation is complete a custom event <code>ace-listbox-ready</code> is dispatched on <code>window</code>.</p>
<h2>Usage</h2>
<p>There are two main types of Listboxes, single-select and multi-select. A single-select Listbox allows selection of only a single option at a time, and are instantiated by default. A Multi-select Listbox allows selection of multiple options, and are instantiated in Listboxes with an <code>ace-listbox-multiselect</code> attribute.</p>
<p>Listbox options can be active and/or selected. Only a single option can be active at once and only when the Listbox list has focus. The active option is given the <code>ace-listbox-active-option</code> attribute and its ID is stored as the Listbox's <code>aria-activedescendant</code> attribute. Both these attributes are removed when the Listbox list loses focus as no option is active at that point.</p>
<p>The active option can be changed by clicking on an option, using <kbd>↑</kbd>, <kbd>↓</kbd>, <kbd>Home</kbd> or <kbd>End</kbd>, or by typing one or more characters making the next option with text starting with the typed string active. <kbd>↑</kbd> will loop around from the top of the list to the bottom, while <kbd>↓</kbd> will loop from the bottom to the top. Similarly, when a character is typed if the bottom of the list is reached the search will loop around and continute from the top until a match or the active option is reached. Repeatedly pressing the same character with a short delay in-between will loop through all matching options.</p>
<p>The active option is automatically selected in a single-select Listbox. In a multi-select Listbox an option's selected state can be toggled by clicking on it or pressing <kbd>Space</kbd> if it's active. Selection of multiple options can be achieved by clicking on an option and then clicking on another one while holding <kbd>⇧</kbd>, which will select all options in between the two clicked ones. Users can also select multiple options using the keyboard in the following ways:</p>
<ul>
<li><kbd>⇧</kbd> + <kbd>↑</kbd> or <kbd>⇧</kbd> + <kbd>↓</kbd>: Toggles selected state of previous or next option respectively, and makes it active.</li>
<li><kbd>⇧</kbd> + <kbd>Space</kbd>: Selects all items between the most recently selected item and the active item.</li>
<li><kbd>Ctrl</kbd>/<kbd>⌘</kbd> + <kbd>⇧</kbd> + <kbd>Home</kbd>: Selects active option and all options above it and makes the first option active.</li>
<li><kbd>Ctrl</kbd>/<kbd>⌘</kbd> + <kbd>⇧</kbd> + <kbd>End</kbd>: Selects active option and all options below it and makes the last option active.</li>
<li><kbd>Ctrl</kbd>/<kbd>⌘</kbd> + <kbd>A</kbd>: Toggles selected state of all options.</li>
</ul>
<h2>Styles</h2>
<p>The following SASS is applied to the component, each declaration of which can be overridden by a single class selector, with the addition of <code>[aria-selected=&quot;true&quot;]</code> for targetting selected options.  The SASS variables use <code>!default</code> so can also be easily overridden by users.</p>
<p>To conform to W3 WAI-ARIA practices, active and selected options must be visually distinct from other options and one another. For this reason the active and selected option were given an outline and a background color, respectively.</p>
<pre><code class="language-scss">/* VARIABLES */
$ace-listbox-active-option-outline: 1px dashed slategray !default;
$ace-listbox-selected-option-bg-color: $ace-color-selected !default;


/* STYLES */
[ace-listbox-list] {
  list-style-position: inside;
}

[ace-listbox-option-index] {
  &amp;[aria-selected=&quot;true&quot;] {
    background: $ace-listbox-selected-option-bg-color;
  }
}

[ace-listbox-active-option] {
  outline: $ace-listbox-active-option-outline;
}
</code></pre>
<h2>Custom events</h2>
<p>Listbox uses the following custom events, the names of which are available in its exported <code>EVENTS</code> object, similar to <code>ATTRS</code>, so they may be imported into other modules.</p>
<h3>Dispatched events</h3>
<p>The following events are dispatched on <code>window</code> by Listbox.</p>
<h4>Ready</h4>
<p><code>ace-listbox-ready</code></p>
<p>This event is dispatched when Listbox finishes initialising. The event name is available as <code>EVENTS.OUT.READY</code>, and its <code>detail</code> property is composed as follows:</p>
<pre><code class="language-js">'detail': {
  'id': // ID of Listbox [string]
}
</code></pre>
<h3>Listened for events</h3>
<p>Listbox listens for the following events, which should be dispatched by the user's code on the specific <code>ace-listbox</code> element.</p>
<h4>Update options</h4>
<p><code>ace-listbox-update-options</code></p>
<p>This event should be dispatched when options are added or deleted, and causes Listbox to reinitialise itself. The event name is available as <code>EVENTS.IN.UPDATE_OPTIONS</code>.</p>
<h2>Examples</h2>
<p>Each example contains a live demo and the HTML code that produced it. The code shown may differ slightly to that rendered for the demo as some components may alter their HTML when they initialise.</p>
<h3>Single-select Listbox</h3>
<p>A single-select Listbox with a nested <code>&lt;ul&gt;</code> list.</p>
<div class="example-block"><ace-listbox id="single-select-listbox">
  <ul>
    <li>Iron Man</li>
    <li>Nick Fury</li>
    <li>Hulk</li>
    <li>Thor</li>
    <li>Captain America</li>
    <li>Black Widow</li>
    <li>Scarlet Witch</li>
    <li>Ant-Man</li>
    <li>Black Panther</li>
    <li>Spider-man</li>
    <li>Doctor Strange</li>
    <li>Captain Marvel</li>
  </ul>
</ace-listbox>
</div>
<pre><code class="language-html">&lt;ace-listbox id=&quot;single-select-listbox&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;Iron Man&lt;/li&gt;
    &lt;li&gt;Nick Fury&lt;/li&gt;
    &lt;li&gt;Hulk&lt;/li&gt;
    &lt;li&gt;Thor&lt;/li&gt;
    &lt;li&gt;Captain America&lt;/li&gt;
    &lt;li&gt;Black Widow&lt;/li&gt;
    &lt;li&gt;Scarlet Witch&lt;/li&gt;
    &lt;li&gt;Ant-Man&lt;/li&gt;
    &lt;li&gt;Black Panther&lt;/li&gt;
    &lt;li&gt;Spider-man&lt;/li&gt;
    &lt;li&gt;Doctor Strange&lt;/li&gt;
    &lt;li&gt;Captain Marvel&lt;/li&gt;
  &lt;/ul&gt;
&lt;/ace-listbox&gt;
</code></pre>
<p>A single-select listbox with a nested <code>&lt;ol&gt;</code> list.</p>
<div class="example-block"><ace-listbox>
  <ol>
    <li>Iron Man</li>
    <li>Nick Fury</li>
    <li>Hulk</li>
    <li>Thor</li>
    <li>Captain America</li>
    <li>Black Widow</li>
    <li>Scarlet Witch</li>
    <li>Ant-Man</li>
    <li>Black Panther</li>
    <li>Spider-man</li>
    <li>Doctor Strange</li>
    <li>Captain Marvel</li>
  </ol>
</ace-listbox>
</div>
<pre><code class="language-html">&lt;ace-listbox&gt;
  &lt;ol&gt;
    &lt;li&gt;Iron Man&lt;/li&gt;
    &lt;li&gt;Nick Fury&lt;/li&gt;
    &lt;li&gt;Hulk&lt;/li&gt;
    &lt;li&gt;Thor&lt;/li&gt;
    &lt;li&gt;Captain America&lt;/li&gt;
    &lt;li&gt;Black Widow&lt;/li&gt;
    &lt;li&gt;Scarlet Witch&lt;/li&gt;
    &lt;li&gt;Ant-Man&lt;/li&gt;
    &lt;li&gt;Black Panther&lt;/li&gt;
    &lt;li&gt;Spider-man&lt;/li&gt;
    &lt;li&gt;Doctor Strange&lt;/li&gt;
    &lt;li&gt;Captain Marvel&lt;/li&gt;
  &lt;/ol&gt;
&lt;/ace-listbox&gt;
</code></pre>
<h3>Multi-select Listbox</h3>
<p>A multi-select Listbox.</p>
<div class="example-block"><ace-listbox ace-listbox-multiselect id="multi-select-listbox">
  <ul>
    <li>Iron Man</li>
    <li>Nick Fury</li>
    <li>Hulk</li>
    <li>Thor</li>
    <li>Captain America</li>
    <li>Black Widow</li>
    <li>Scarlet Witch</li>
    <li>Ant-Man</li>
    <li>Black Panther</li>
    <li>Spider-man</li>
    <li>Doctor Strange</li>
    <li>Captain Marvel</li>
  </ul>
</ace-listbox>
</div>
<pre><code class="language-html">&lt;ace-listbox ace-listbox-multiselect id=&quot;multi-select-listbox&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;Iron Man&lt;/li&gt;
    &lt;li&gt;Nick Fury&lt;/li&gt;
    &lt;li&gt;Hulk&lt;/li&gt;
    &lt;li&gt;Thor&lt;/li&gt;
    &lt;li&gt;Captain America&lt;/li&gt;
    &lt;li&gt;Black Widow&lt;/li&gt;
    &lt;li&gt;Scarlet Witch&lt;/li&gt;
    &lt;li&gt;Ant-Man&lt;/li&gt;
    &lt;li&gt;Black Panther&lt;/li&gt;
    &lt;li&gt;Spider-man&lt;/li&gt;
    &lt;li&gt;Doctor Strange&lt;/li&gt;
    &lt;li&gt;Captain Marvel&lt;/li&gt;
  &lt;/ul&gt;
&lt;/ace-listbox&gt;
</code></pre>
<h3>Listbox with options containing images</h3>
<p>A Listbox with options containing images.</p>
<div class="example-block"><ace-listbox>
  <ul>
    <li style="align-items: center; display: flex;">
      <img src="/img/logo.svg" width="60px">&nbsp;
      Iron Man
    </li>
    <li style="align-items: center; display: flex;">
      <img src="/img/logo.svg" width="60px">&nbsp;
      Hulk
    </li>
    <li style="align-items: center; display: flex;">
      <img src="/img/logo.svg" width="60px">&nbsp;
      Thor
    </li>
    <li style="align-items: center; display: flex;">
      <img src="/img/logo.svg" width="60px">&nbsp;
      Captain America
    </li>
  </ul>
</ace-listbox>
</div>
<pre><code class="language-html">&lt;ace-listbox&gt;
  &lt;ul&gt;
    &lt;li style=&quot;align-items: center; display: flex;&quot;&gt;
      &lt;img src=&quot;/img/logo.svg&quot; width=&quot;60px&quot;&gt;&amp;nbsp;
      Iron Man
    &lt;/li&gt;
    &lt;li style=&quot;align-items: center; display: flex;&quot;&gt;
      &lt;img src=&quot;/img/logo.svg&quot; width=&quot;60px&quot;&gt;&amp;nbsp;
      Hulk
    &lt;/li&gt;
    &lt;li style=&quot;align-items: center; display: flex;&quot;&gt;
      &lt;img src=&quot;/img/logo.svg&quot; width=&quot;60px&quot;&gt;&amp;nbsp;
      Thor
    &lt;/li&gt;
    &lt;li style=&quot;align-items: center; display: flex;&quot;&gt;
      &lt;img src=&quot;/img/logo.svg&quot; width=&quot;60px&quot;&gt;&amp;nbsp;
      Captain America
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/ace-listbox&gt;
</code></pre>
<h3>Listbox with dynamic options</h3>
<p>In this example the Listbox instantiates with an empty <code>&lt;ul&gt;</code> that can be populated with options using <strong>Add option</strong>. The first option can also be removed using <btn>Remove option</btn>. Both these buttons dispatch the <code>ace-listbox-update-options</code> event that updates the Listbox. The extra JavaScript code required by this example is also included below.</p>
<div class="example-block"><button id="add-option">
  Add option
</button>
<button id="remove-option">
  Remove option
</button>
<hr>
<ace-listbox id="custom-events-listbox"></ace-listbox>
</div>
<pre><code class="language-html">&lt;button id=&quot;add-option&quot;&gt;
  Add option
&lt;/button&gt;
&lt;button id=&quot;remove-option&quot;&gt;
  Remove option
&lt;/button&gt;
&lt;hr&gt;
&lt;ace-listbox id=&quot;custom-events-listbox&quot;&gt;&lt;/ace-listbox&gt;
</code></pre>
<pre><code class="language-js">import {EVENTS} from '/ace/components/listbox/listbox.js';

document.addEventListener('DOMContentLoaded', () =&gt; {
  const listboxEl = document.getElementById('custom-events-listbox');

  const updateOptions = () =&gt; listboxEl.dispatchEvent(new CustomEvent(EVENTS.IN.UPDATE_OPTIONS));

  document.getElementById('add-option')
    .addEventListener('click', () =&gt; {
      listboxEl.querySelector('ul').innerHTML += '&lt;li&gt;New Option&lt;/li&gt;';
      updateOptions();
    });

  document.getElementById('remove-option')
    .addEventListener('click', () =&gt; {
      const listboxListEl = listboxEl.querySelector('ul');
      const fistOptionEl = listboxListEl.querySelector('li');
      if (!fistOptionEl) {
        return;
      }
      listboxListEl.removeChild(fistOptionEl);
      updateOptions();
    });
});
</code></pre>
