<h1>ACE</h1>
<p>Accessible Custom Elements (ACE) is a library of UI components that are accessible to users who rely on assistive technologies or keyboard navigation. ACE components have full keyboard support and all the required WAI-ARIA roles, states and properties specified in the <a href="https://www.w3.org/TR/wai-aria-practices-1.1">W3 WAI-ARIA Authoring Practices 1.1</a>.</p>
<p>The components all have minimal CSS styling applied to them that can be easily overridden making them compatible with almost any design system. Most of the components are provided in different variants that cover common use cases. This helps developers create rich, dynamic and creative websites that are also fully accessible for all users. More information about ACE can be found <a href="https://ace.p.ota.to/about">here</a>.</p>
<h2>Installation</h2>
<p>To install all ACE components and the common files required by them run</p>
<pre><code class="language-bash">npm i @potato/ace
</code></pre>
<p>or</p>
<pre><code class="language-bash">yarn add @potato/ace
</code></pre>
<p>To use a component import the class into your main JavaScript file:</p>
<pre><code class="language-js">import '&lt;path-to-node_modules&gt;/@potato/ace/components/&lt;component-name&gt;/&lt;component-name&gt;';
</code></pre>
<p>Then import the component's SASS file into a SASS file in your project, replacing <code>&lt;path-to-node_modules&gt;</code> with the path to the <em>node_modules</em> directory relative to the file, and <code>&lt;component-name&gt;</code> with the component name:</p>
<pre><code class="language-scss">@import '&lt;path-to-node_modules&gt;/@potato/ace/components/&lt;component-name&gt;/&lt;component-name&gt;';
</code></pre>
<p>Alternatively, you can import the component's CSS file into a CSS file in your project:</p>
<pre><code class="language-css">@import '&lt;path-to-node_modules&gt;/@potato/ace/components/&lt;component-name&gt;/&lt;component-name&gt;.css';
</code></pre>
<p>Specific instructions for how to use a particular component can be found on the component's webpage, along with live examples, or in the component's <em>README</em> file located at <em>&lt;path-to-node_modules&gt;/@potato/ace/&lt;component-name&gt;/READE.md</em>.</p>
<p>For example, the Accordion component instructions can be found on it's <a href="https://ace.p.ota.to/accordion">webpage</a> or in <em>&lt;path-to-node_modules&gt;/@potato/ace/accordion/README.md</em>.</p>
<h2>Component SASS variables</h2>
<p>ACE components define SASS variables using the <code>!default</code> keyword, allowing developers to easily configure component styles by simply assigning a value to the variable before importing the SASS file where the variable is defined.</p>
<p>For example, the selected option highlight color of the Listbox component can be changed as follows:</p>
<pre><code class="language-scss">/* Override ACE variable... */
$ace-listbox-selected-option-bg-color: #cccccc;

/* Then import SASS file where ACE variable is defined */
@import '&lt;path-to-node_modules&gt;/node_modules/@potato/ace/listbox/listbox';
</code></pre>
<h2>Using ACE with JavaScript frameworks</h2>
<h3>React</h3>
<p>The following examples show how ACE components can be used with React. More general information about how to use custom elements with React can be found in the <a href="https://reactjs.org/docs/web-components.html">React web components guide</a>.</p>
<p>These examples demonstrate how to use an ACE Accordion, pass data to it from a parent component via <code>props</code>, use <code>useEffect</code> in the parent to listen for a custom event dispatched by Accordion, and interact with Accordion from the parent using a custom event.</p>
<h4>React without TypeScript</h4>
<p>Starting with a fresh React project that does not use TypeScript, created using <code>npx create-react-app</code>:</p>
<ol>
<li>Install ACE:</li>
</ol>
<pre><code class="language-bash">npm i @potato/ace
</code></pre>
<ol start="2">
<li>Replace the contents of <em><strong>src/App.js</strong></em> with:</li>
</ol>
<pre><code class="language-jsx">import {useEffect, useState} from 'react';
import {ATTRS, EVENTS} from '@potato/ace/components/accordion/accordion';
import {Accordion} from './Accordion';
import './App.css';

const accordionContent = [
  {
    content: 'Panel 1 content',
    trigger: 'Panel 1 trigger',
  },
  {
    content: 'Panel 2 content',
    trigger: 'Panel 2 trigger',
  }
];

function App() {
  const ACCORDION_ID = 'ace-accordion';
  const [disableCollapseAllBtn, setDisableCollapseAllBtn] = useState(true);

  // Accordion &quot;Panel visibility changed&quot; custom event handler to disable &quot;Collapse all&quot; button when all panels are collapsed
  const handleAccordionPanelStateChange = () =&gt; {
    const panelsCollapsed = document.querySelectorAll(`[${ATTRS.PANEL_VISIBLE}]`).length === 0;
    setDisableCollapseAllBtn(panelsCollapsed);
  }

  // useEffect used to add Accordion's &quot;Panel visibility changed&quot; custom event listener
  useEffect(() =&gt; {
    window.addEventListener(EVENTS.OUT.PANEL_VISIBILITY_CHANGED, handleAccordionPanelStateChange);
    return () =&gt; window.removeEventListener(EVENTS.OUT.PANEL_VISIBILITY_CHANGED, handleAccordionPanelStateChange);
  }, []);

  // Collapse Accordion's panels by dispatching its &quot;Hide panels&quot; custom event
  const collapseAll = () =&gt; window.dispatchEvent(new CustomEvent(
    EVENTS.IN.HIDE_ALL_PANELS,
    {'detail': {'id': ACCORDION_ID}},
  ));

  return (
    &lt;&gt;
      &lt;Accordion content={accordionContent} id={ACCORDION_ID} /&gt;
      &lt;button	disabled={disableCollapseAllBtn} onClick={collapseAll} &gt;
        Collapse all
      &lt;/button&gt;
    &lt;/&gt;
  );
}

export default App;
</code></pre>
<ol start="3">
<li>Replace the contents of <em><strong>src/App.css</strong></em> with:</li>
</ol>
<pre><code class="language-css">@import '~@potato/ace/components/accordion/ace-accordion.css';
</code></pre>
<ol start="4">
<li>Add a file <em><strong>src/Accordion.jsx</strong></em> with the following content:</li>
</ol>
<pre><code class="language-jsx">import React from 'react';
import '@potato/ace/components/accordion/accordion';

export const Accordion = ({content, id}) =&gt; {
  return (
    &lt;ace-accordion id={id}&gt;
      {content.map((panel, index) =&gt; {
        return &lt;React.Fragment key={index}&gt;
          &lt;h3&gt;
            &lt;button&gt;{panel.trigger}&lt;/button&gt;
          &lt;/h3&gt;
          &lt;div&gt;
            &lt;p&gt;{panel.content}&lt;/p&gt;
          &lt;/div&gt;
        &lt;/React.Fragment&gt;
      })}
    &lt;/ace-accordion&gt;
  );
};
</code></pre>
<h4>React with TypeScript</h4>
<p>Starting with a fresh React TypeScript project created using <code>npx create-react-app</code>:</p>
<ol>
<li>Install ACE:</li>
</ol>
<pre><code class="language-bash">npm i @potato/ace
</code></pre>
<ol start="2">
<li>Replace the contents of <em><strong>src/App.tsx</strong></em> with:</li>
</ol>
<pre><code class="language-jsx">import {useEffect, useState} from 'react';
import {ATTRS, EVENTS} from '@potato/ace/components/accordion/accordion';
import {Accordion} from './Accordion';
import './App.css';

export interface AccordionContent {
  content: string;
  trigger: string;
}

const accordionContent: AccordionContent[] = [
  {
    content: 'Panel 1 content',
    trigger: 'Panel 1 trigger',
  },
  {
    content: 'Panel 2 content',
    trigger: 'Panel 2 trigger',
  }
];

function App() {
  const ACCORDION_ID = 'ace-accordion';
  const [disableCollapseAllBtn, setDisableCollapseAllBtn] = useState(true);

  // Accordion &quot;Panel visibility changed&quot; custom event handler to disable &quot;Collapse all&quot; button when all panels are collapsed
  const handleAccordionPanelStateChange = () =&gt; {
    const panelsCollapsed = document.querySelectorAll(`[${ATTRS.PANEL_VISIBLE}]`).length === 0;
    setDisableCollapseAllBtn(panelsCollapsed);
  }

  // useEffect used to add Accordion's &quot;Panel visibility changed&quot; custom event listener
  useEffect(() =&gt; {
    window.addEventListener(EVENTS.OUT.PANEL_VISIBILITY_CHANGED, handleAccordionPanelStateChange);
    return () =&gt; window.removeEventListener(EVENTS.OUT.PANEL_VISIBILITY_CHANGED, handleAccordionPanelStateChange);
  }, []);

  // Collapse Accordion's panels using its &quot;hide panels&quot; custom event
  const collapseAll = () =&gt; window.dispatchEvent(new CustomEvent(
    EVENTS.IN.HIDE_ALL_PANELS,
    {'detail': {'id': ACCORDION_ID}},
  ));

  return (
    &lt;&gt;
      &lt;Accordion content={accordionContent} id={ACCORDION_ID} /&gt;
      &lt;button	disabled={disableCollapseAllBtn} onClick={collapseAll} &gt;
        Collapse all
      &lt;/button&gt;
    &lt;/&gt;
  );
}

export default App;
</code></pre>
<ol start="3">
<li>Replace the contents of <em><strong>src/App.css</strong></em> with:</li>
</ol>
<pre><code class="language-css">@import '~@potato/ace/components/accordion/ace-accordion.css';
</code></pre>
<ol start="4">
<li>Add a file <em><strong>src/Accordion.tsx</strong></em> with:</li>
</ol>
<pre><code class="language-tsx">import React from 'react';
import {AccordionContent} from './App';
import '@potato/ace/components/accordion/accordion';

interface Props {
  content: Array&lt;AccordionContent&gt;,
  id: string,
}

export const Accordion = ({content, id}: Props) =&gt; {
  return (
    &lt;ace-accordion id={id}&gt;
      {content.map((panel: AccordionContent, index: number) =&gt; {
        return &lt;React.Fragment key={index}&gt;
          &lt;h3&gt;
            &lt;button&gt;{panel.trigger}&lt;/button&gt;
          &lt;/h3&gt;
          &lt;div&gt;
            &lt;p&gt;{panel.content}&lt;/p&gt;
          &lt;/div&gt;
        &lt;/React.Fragment&gt;
      })}
    &lt;/ace-accordion&gt;
  );
};

declare global {
  namespace JSX {
    interface IntrinsicElements {
      'ace-accordion': any;
    }
  }
}
</code></pre>
<h3>Angular</h3>
<p>The following examples shows how ACE components can be used with Angular.</p>
<p>These examples demonstrate how to use an ACE Accordion, pass data to it from a parent component via <code>@Input</code>, use <code>@HostListener</code> in the parent to listen for a custom event dispatched by Accordion, and interact with Accordion from the parent using a custom event.</p>
<p>Starting with a fresh Angular project created using Angular CLI command <code>ng new</code>:</p>
<ol>
<li>Install ACE:</li>
</ol>
<pre><code class="language-bash">npm i @potato/ace
</code></pre>
<ol start="2">
<li>Add the following to the <code>&quot;files&quot;</code> property in <em><strong>tsconfig.app.json</strong></em> :</li>
</ol>
<pre><code class="language-json">&quot;./node_modules/@potato/ace/components/accordion/accordion.ts&quot;
</code></pre>
<ol start="3">
<li>Replace the contents of <em><strong>src/app/app.module.ts</strong></em> with:</li>
</ol>
<pre><code class="language-ts">import { NgModule, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';

import { AppComponent } from './app.component';
import { AccordionComponent } from './accordion/accordion.component';

@NgModule({
  declarations: [
    AccordionComponent,
    AppComponent
  ],
  imports: [
    BrowserModule
  ],
  schemas: [CUSTOM_ELEMENTS_SCHEMA],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule { }
</code></pre>
<ol start="4">
<li>Replace the contents of <em><strong>src/app/app.component.ts</strong></em> with:</li>
</ol>
<pre><code class="language-ts">import { Component, HostListener } from '@angular/core';
import { AccordionContent } from './accordion/accordion.component';
import { ATTRS, EVENTS } from '@potato/ace/components/accordion/accordion';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
export class AppComponent {
  accordionContent: Array&lt;AccordionContent&gt; = [
    {
      content: 'Panel 1 content',
      trigger: 'Panel 1 trigger',
    },
    {
      content: 'Panel 2 content',
      trigger: 'Panel 2 trigger',
    },
  ];
  accordionId = 'ace-accordion';
  panelsCollapsed = true;

  // Collapse Accordion's panels using it's &quot;hide panels&quot; custom event
  collapseAll() {
    window.dispatchEvent(new CustomEvent(
      EVENTS.IN.HIDE_ALL_PANELS,
      {'detail': {'id': this.accordionId}},
    ));
  }

  // @HostListener used to add Accordion &quot;Panel visibility changed&quot; event listener
  @HostListener(`window:${EVENTS.OUT.PANEL_VISIBILITY_CHANGED}`, ['$event.detail'])
  onPanelChange(): void {
    this.panelsCollapsed = document.querySelectorAll(`[${ATTRS.PANEL_VISIBLE}]`).length === 0;
  }
}
</code></pre>
<ol start="5">
<li>Replace the contents of <em><strong>src/app/app.component.html</strong></em> with:</li>
</ol>
<pre><code class="language-html">&lt;app-accordion [content]=&quot;accordionContent&quot; [accordionId]=&quot;accordionId&quot;&gt;&lt;/app-accordion&gt;
&lt;button [disabled]=&quot;panelsCollapsed&quot; (click)=&quot;collapseAll()&quot;&gt;
  Collapse all
&lt;/button&gt;
</code></pre>
<ol start="6">
<li>Generate a new component called <code>accordion</code>:</li>
</ol>
<pre><code class="language-bash">ng g c accordion
</code></pre>
<ol start="7">
<li>Replace the contents of <em><strong>src/app/accordion/accordion.component.html</strong></em> with:</li>
</ol>
<pre><code class="language-html">&lt;ace-accordion [id]=&quot;accordionId&quot;&gt;
  &lt;ng-container *ngFor=&quot;let panel of content&quot;&gt;
    &lt;h3&gt;
      &lt;button&gt;{{panel.trigger}}&lt;/button&gt;
    &lt;/h3&gt;
    &lt;div&gt;
      &lt;p&gt;{{panel.content}}&lt;/p&gt;
    &lt;/div&gt;
  &lt;/ng-container&gt;
&lt;/ace-accordion&gt;
</code></pre>
<ol start="8">
<li>Replace the contents of <em><strong>src/app/accordion/accordion.component.ts</strong></em> with:</li>
</ol>
<pre><code class="language-ts">import { Component, Input } from '@angular/core';
import '@potato/ace/components/accordion/accordion';

export interface AccordionContent {
  content: string;
  trigger: string;
}

@Component({
  selector: 'app-accordion',
  templateUrl: './accordion.component.html',
  styleUrls: ['./accordion.component.css']
})
export class AccordionComponent {
  @Input()
  accordionId: String = '';
  
  @Input()
  content: Array&lt;AccordionContent&gt; = [];
}
</code></pre>
<ol start="9">
<li>Replace the contents of <em><strong>src/app/accordion/accordion.component.css</strong></em> with:</li>
</ol>
<pre><code class="language-css">@import '~@potato/ace/components/accordion/ace-accordion.css';
</code></pre>
<h4>Importing ACE JavaScript component files</h4>
<p>If ACE component TypeScript files cause TypeScript compilation errors due to a difference in compiler options between ACE and the project, the recommended approach is to use the provided ACE component JavaScript file.</p>
<p>This can be achieved by adding <code>&quot;types&quot;: [&quot;node&quot;]</code> to the <code>&quot;compilerOptions&quot;</code> property in <em><strong>tsconfig.app.json</strong></em> and using <code>require('@potato/ace/components/&lt;component&gt;/&lt;component&gt;.js')</code> to import the ACE component's JavaScript file, where <code>&lt;component&gt;</code> is the component name. Exported properties, e.g. <code>ATTRS</code>, can also be imported using <code>const { ATTRS } = require('@potato/ace/components/&lt;component&gt;/&lt;component&gt;.js')</code>.</p>
<p>To use the Accordion JavaScript file in the example above first follow the example and then:</p>
<ol>
<li>Replace contents of <em><strong>tsconfig.app.json</strong></em> with:</li>
</ol>
<pre><code class="language-json">{
  &quot;extends&quot;: &quot;./tsconfig.json&quot;,
  &quot;compilerOptions&quot;: {
    &quot;outDir&quot;: &quot;./out-tsc/app&quot;,
    &quot;types&quot;: [&quot;node&quot;]
  },
  &quot;files&quot;: [
    &quot;src/main.ts&quot;,
    &quot;src/polyfills.ts&quot;
  ],
  &quot;include&quot;: [
    &quot;src/**/*.d.ts&quot;
  ]
}
</code></pre>
<ol start="2">
<li>In <em><strong>src/app/app.component.ts</strong></em> replace:</li>
</ol>
<pre><code class="language-ts">import {ATTRS, EVENTS} from '@potato/ace/components/accordion/accordion';
</code></pre>
<p>with</p>
<pre><code class="language-ts">const { ATTRS, EVENTS } = require('@potato/ace/components/accordion/accordion.js');
</code></pre>
<p>and replace:</p>
<pre><code class="language-ts">@HostListener(`window:${EVENTS.OUT.PANEL_VISIBILITY_CHANGED}`, ['$event.detail'])
</code></pre>
<p>with:</p>
<pre><code class="language-ts">@HostListener('window:ace-accordion-panel-visibility-changed', ['$event.detail'])
</code></pre>
<ol start="3">
<li>In <em><strong>src/app/accordion/accordion.component.ts</strong></em> replace:</li>
</ol>
<pre><code class="language-ts">import '@potato/ace/components/accordion/accordion';
</code></pre>
<p>with</p>
<pre><code class="language-ts">require('@potato/ace/components/accordion/accordion.js');
</code></pre>
<h3>Vue</h3>
<p>The following examples shows how ACE components can be used with Vue (v3+). More general information about how to use custom elements with Vue can be found in the <a href="https://v3.vuejs.org/guide/web-components.html#skipping-component-resolution">Vue web components guide</a>.</p>
<p>These examples demonstrate how to use an ACE Accordion, pass data to it from a parent component via <code>props</code>, use the <code>created</code> &amp; <code>unmounted</code> lifecycle hooks in the parent to listen for a custom event dispatched by Accordion, and interact with Accordion from the parent using a custom event.</p>
<h4>Vue without TypeScript</h4>
<p>Starting with a fresh Vue project that does not use TypeScript, created using Vue CLI command <code>vue create</code>:</p>
<ol>
<li>Install ACE:</li>
</ol>
<pre><code class="language-bash">npm i @potato/ace
</code></pre>
<ol start="2">
<li>Create file <code>vue.config.js</code> with following content:</li>
</ol>
<pre><code class="language-js">module.exports = {
  chainWebpack: config =&gt; {
    config.module
      .rule('vue')
      .use('vue-loader')
      .tap(options =&gt; ({
        ...options,
        compilerOptions: {
          // treat any tag that starts with ace- as custom elements
          isCustomElement: tag =&gt; tag.startsWith('ace-')
        }
      }))
  }
}
</code></pre>
<ol start="3">
<li>Replace the contents of <em><strong>src/App.vue</strong></em> with:</li>
</ol>
<pre><code class="language-html">&lt;template&gt;
  &lt;Accordion :content=&quot;accordionContent&quot; :id=&quot;id&quot; /&gt;
  &lt;button :disabled=&quot;panelsCollapsed&quot; @click=&quot;collapseAll&quot;&gt;
    Collapse all
  &lt;/button&gt;
&lt;/template&gt;

&lt;script&gt;
  import Accordion from './components/Accordion.vue';
  import {ATTRS, EVENTS} from '@potato/ace/components/accordion/accordion';

  export default {
    name: 'App',
    components: {
      Accordion
    },
    data() {
      return {
        accordionContent: [
          {
            content: 'Panel 1 content',
            trigger: 'Panel 1 trigger',
          },
          {
            content: 'Panel 2 content',
            trigger: 'Panel 2 trigger',
          },
        ],
        id: 'ace-accordion',
        panelsCollapsed: true,
      }
    },
    created () {
      window.addEventListener(EVENTS.OUT.PANEL_VISIBILITY_CHANGED, this.onPanelChange);
    },
    unmounted () {
      window.removeEventListener(EVENTS.OUT.PANEL_VISIBILITY_CHANGED, this.onPanelChange);
    },
    methods: {
      collapseAll() {
        window.dispatchEvent(new CustomEvent(
          EVENTS.IN.HIDE_ALL_PANELS,
          {'detail': {'id': this.id}},
        ));
      },
      onPanelChange() {
        this.panelsCollapsed = document.querySelectorAll(`[${ATTRS.PANEL_VISIBLE}]`).length === 0;
      },
    },
  }
&lt;/script&gt;
</code></pre>
<ol start="4">
<li>Rename <em><strong>src/components/HelloWorld.vue</strong></em> as <code>Accordion.vue</code> and replace the contents with:</li>
</ol>
<pre><code class="language-html">&lt;template&gt;
	&lt;ace-accordion&gt;
		&lt;template v-for=&quot;(panel, index) of content&quot; :key=&quot;index&quot;&gt;
			&lt;h3&gt;
				&lt;button&gt;{{panel.trigger}}&lt;/button&gt;
			&lt;/h3&gt;
			&lt;div&gt;
				&lt;p&gt;{{panel.content}}&lt;/p&gt;
			&lt;/div&gt;
		&lt;/template&gt;
	&lt;/ace-accordion&gt;
&lt;/template&gt;

&lt;script&gt;
	export default {
		name: 'Accordion',
		props: {
			content: Array
		},
	}
&lt;/script&gt;

&lt;style&gt;
	@import '~@potato/ace/components/accordion/ace-accordion.css';
&lt;/style&gt;
</code></pre>
<h4>Vue with TypeScript</h4>
<p>Starting with a fresh Vue TypeScript project, created using Vue CLI command <code>vue create</code>:</p>
<ol>
<li>Install ACE:</li>
</ol>
<pre><code class="language-bash">npm i @potato/ace
</code></pre>
<ol start="2">
<li>Create file <code>vue.config.js</code> with following content:</li>
</ol>
<pre><code class="language-js">module.exports = {
  chainWebpack: config =&gt; {
    config.module
      .rule('vue')
      .use('vue-loader')
      .tap(options =&gt; ({
        ...options,
        compilerOptions: {
          // treat any tag that starts with ace- as custom elements
          isCustomElement: tag =&gt; tag.startsWith('ace-')
        }
      }))
  }
}
</code></pre>
<ol start="3">
<li>Replace the contents of <em><strong>src/App.vue</strong></em> with:</li>
</ol>
<pre><code class="language-html">&lt;template&gt;
  &lt;Accordion :content=&quot;accordionContent&quot; :id=&quot;id&quot; /&gt;
  &lt;button :disabled=&quot;panelsCollapsed&quot; @click=&quot;collapseAll&quot;&gt;
    Collapse all
  &lt;/button&gt;
&lt;/template&gt;

&lt;script lang=&quot;ts&quot;&gt;
  import {defineComponent} from 'vue';
  import Accordion from './components/Accordion.vue';
  import {ATTRS, EVENTS} from '@potato/ace/components/accordion/accordion';

  export default defineComponent({
    name: 'App',
    components: {
      Accordion
    },
    data() {
      return {
        accordionContent: [
          {
            content: 'Panel 1 content',
            trigger: 'Panel 1 trigger',
          },
          {
            content: 'Panel 2 content',
            trigger: 'Panel 2 trigger',
          },
        ],
        id: 'ace-accordion',
        panelsCollapsed: true,
      }
    },
    created () {
      window.addEventListener(EVENTS.OUT.PANEL_VISIBILITY_CHANGED, this.onPanelChange);
    },
    unmounted () {
      window.removeEventListener(EVENTS.OUT.PANEL_VISIBILITY_CHANGED, this.onPanelChange);
    },
    methods: {
      collapseAll() {
        window.dispatchEvent(new CustomEvent(
          EVENTS.IN.HIDE_ALL_PANELS,
          {'detail': {'id': this.id}},
        ));
      },
      onPanelChange() {
        this.panelsCollapsed = document.querySelectorAll(`[${ATTRS.PANEL_VISIBLE}]`).length === 0;
      },
    },
  });
&lt;/script&gt;

</code></pre>
<ol start="4">
<li>Rename <em><strong>src/components/HelloWorld.vue</strong></em> as <code>Accordion.vue</code> and replace the contents with:</li>
</ol>
<pre><code class="language-html">&lt;template&gt;
	&lt;ace-accordion&gt;
		&lt;template v-for=&quot;(panel, index) of content&quot; :key=&quot;index&quot;&gt;
			&lt;h3&gt;
				&lt;button&gt;{{panel.trigger}}&lt;/button&gt;
			&lt;/h3&gt;
			&lt;div&gt;
				&lt;p&gt;{{panel.content}}&lt;/p&gt;
			&lt;/div&gt;
		&lt;/template&gt;
	&lt;/ace-accordion&gt;
&lt;/template&gt;

&lt;script lang=&quot;ts&quot;&gt;
	import {defineComponent} from 'vue';

	export default defineComponent({
		name: 'Accordion',
		props: {
			content: Array
		},
	})
&lt;/script&gt;

&lt;style&gt;
	@import '~@potato/ace/components/accordion/ace-accordion.css';
&lt;/style&gt;
</code></pre>
