<p>These buttons dispatch custom events</p>
<button id="prev-tab-btn">Prev tab</button>
<button id="next-tab-btn">Next tab</button>
<button id="add-tab-btn">Add tab to end</button>
<button id="remove-tab-btn">Remove last tab</button>

<hr>

<ace-tabs id="custom-events-tabs">
  <div aria-label="Tabs that repond to custom events">
    <button>Tab 1</button>
    <button>Tab 2</button>
    <button>Tab 3</button>
  </div>
  <div>
    <h3>Panel 1</h3>
  </div>
  <div>
    <h3>Panel 2</h3>
  </div>
  <div>
    <h3>Panel 3</h3>
  </div>
</ace-tabs>
