<ace-tabs class="styled-tabs">
  <div aria-label="Basic Tabs" class="styled-tabs__tablist">
    <button class="styled-tabs__tab">Tab 1</button>
    <button class="styled-tabs__tab">Tab 2</button>
    <button class="styled-tabs__tab">Tab 3</button>
  </div>
  <div class="styled-tabs__panel">
    <h3>Panel 1 heading</h3>
    <p>Panel 1 content.</p>
    <img src="/img/logo.svg" height="100px" alt="Potato logo"/>
  </div>
  <div class="styled-tabs__panel">
    <h3>Panel 2 heading</h3>
    <p>Panel 2 content.</p>
    <img src="/img/phone-spuddy.png" height="100px" alt="Potato Spuddy with headphones and phone"/>
  </div>
  <div class="styled-tabs__panel">
    <h3>Panel 3 heading</h3>
    <p>Panel 3 content.</p>
    <img src="/img/goggles-spuddy.png" height="100px" alt="Potato Spuddy with virtual reality goggles"/>
  </div>
</ace-tabs>
