/* VARIABLES */
$asce-listbox-active-option-outline: 2px dotted #000 !default;
$asce-listbox-selected-option-bg-color: #ccc !default;


/* STYLES */
[asce-listbox-list] {
  list-style-position: inside;
  overflow-y: auto;
}

[asce-listbox-option-index] {
  user-select: none;

  &[aria-selected="true"] {
    background: $asce-listbox-selected-option-bg-color;
  }
}

[asce-listbox-active-option] {
  outline: $asce-listbox-active-option-outline;
}
