@import '../../common/constants';


/* VARIABLES */
$ace-carousel-slide-picker-btn-size: 12px !default;
$ace-carousel-slide-picker-btn-spacing: $ace-spacing-1 !default;


/* STYLES */
ace-carousel {
  display: block;
}

[ace-carousel-slide]:not([ace-carousel-slide-selected]) {
  display: none;
}

[ace-carousel-slide-picker-btn] {
  margin: 0 calc(#{$ace-carousel-slide-picker-btn-spacing} / 2);
  height: $ace-carousel-slide-picker-btn-size;

  &[aria-selected="true"] {
    background-color: $ace-color-selected;
    border-style: inset;
  }
}
