@import '../../common/constants';


/* VARIABLES */
$ace-carousel-slide-picker-btn-size: 12px !default;
$ace-carousel-slide-picker-btn-spacing: $ace-spacing-1 !default;


/* STYLES */
ace-carousel {
  display: block;
}

[ace-carousel-slide] {
  display: none;
}

[ace-carousel-slide-selected] {
  display: unset;
}

[ace-carousel-slide-picker-btn] {
  height: $ace-carousel-slide-picker-btn-size;
  margin: 0 calc(#{$ace-carousel-slide-picker-btn-spacing} / 2);

  &[aria-selected="true"] {
    background-color: $ace-color-selected;
    border-style: inset;
  }
}
