<h4>No autocomplete</h4>
<ace-combobox id="basic-autoselect-combobox" ace-combobox-autoselect="true">
  <label>Choose an Avenger:</label>
  <div ace-combobox-wrapper>
    <input />
    <ul aria-label="Avengers">
      <li>Iron Man</li>
      <li>Nick Fury</li>
      <li>Hulk</li>
      <li>Thor</li>
      <li>Captain America</li>
      <li>Black Widow</li>
      <li>Scarlet Witch</li>
      <li>Ant-Man</li>
      <li>Black Panther</li>
      <li>Spider-man</li>
      <li>Doctor Strange</li>
      <li>Captain Marvel</li>
    </ul>
  </div>
</ace-combobox>

<hr>

<h4>List autocomplete</h4>
<ace-combobox id="ac-list-autoselect-combobox" ace-combobox-autoselect="true">
  <label>Choose an Avenger:</label>
  <div ace-combobox-wrapper>
    <input aria-autocomplete="list"/>
    <ul aria-label="Avengers">
      <li>Iron Man</li>
      <li>Nick Fury</li>
      <li>Hulk</li>
      <li>Thor</li>
      <li>Captain America</li>
      <li>Black Widow</li>
      <li>Scarlet Witch</li>
      <li>Ant-Man</li>
      <li>Black Panther</li>
      <li>Spider-man</li>
      <li>Doctor Strange</li>
      <li>Captain Marvel</li>
    </ul>
  </div>
</ace-combobox>

<hr>

<h4>Inline and list autocomplete</h4>
<ace-combobox id="ac-both-autoselect-combobox" ace-combobox-autoselect="true">
  <label>Choose an Avenger:</label>
  <div ace-combobox-wrapper>
    <input aria-autocomplete="both"/>
    <ul aria-label="Avengers">
      <li>Iron Man</li>
      <li>Nick Fury</li>
      <li>Hulk</li>
      <li>Thor</li>
      <li>Captain America</li>
      <li>Black Widow</li>
      <li>Scarlet Witch</li>
      <li>Ant-Man</li>
      <li>Black Panther</li>
      <li>Spider-man</li>
      <li>Doctor Strange</li>
      <li>Captain Marvel</li>
    </ul>
  </div>
</ace-combobox>
