<button id="add-options-btn">Add options</button>
<button id="show-list-btn">Show list</button>
<button id="hide-list-btn">Hide list</button>

<br><label for="select-option-number-input">Select which option to choose:</label><br>
<input id="select-option-number-input" type="number" name="option" min="1" max="3"><br>
<button id="select-option-btn">Select option</button>

<ace-combobox id="ace-combobox-custom-events">
  <label>Custom events combobox:</label><br>
  <ul aria-label="Custom events combobox options"></ul>
</ace-combobox>
