<label id="styled-combobox-label" class="styled-combobox-label">Choose an Avenger:</label>

<ace-combobox ace-combobox-autoselect class="styled-combobox">
	<input aria-autocomplete="list" aria-labelledby="styled-combobox-label" class="styled-combobox__input" />
	<ul aria-label="Avengers" class="styled-combobox__list">
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Iron Man
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Nick Fury
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Hulk
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Thor
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Captain America
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Black Widow
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Scarlet Witch
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Ant-Man
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Black Panther
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Spider-man
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Doctor Strange
		</li>
		<li class="styled-combobox__option">
			<img alt="Potato logo" class="styled-combobox__img" src="/img/logo.svg">
			Captain Marvel
		</li>
	</ul>
</ace-combobox>
