@use 'sass:map';

@use '../common/constants' as *;
@use '../common/mixins' as *;

$component-border-color: map.get($pot-blue, 5);

.component {
	@include bordered(0, $component-border-color);

	list-style: none;
	position: relative;

	&:focus,
	&:hover {
		border-color: $active-color;
	}

	&__link {
		display: block;
		height: 100%;
		padding: $buffer-s;
		width: 100%;

		&,
		&:visited {
			color: inherit;
		}
	}

	&__video {
		display: block;
		width: 100%;
	}

	&__btn {
		@include icon-btn(75px, '../img/play.svg', #fff);

		border: 1px solid $component-border-color;
		box-shadow: 0 8px 15px rgba(#000, .1);
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);

		@include mq($from: desktop) {
			display: none;
		}
	}
}
