.example-block {
  border: $border-width solid map-get($pot-mauve, 7);
  border-radius: $border-radius;
  font-size: 1.4rem;
  margin: 0 0 30px;
  padding: 16px;

  button {
    @extend .btn;
    @extend .btn--primary;
  }
}
