@use '../common/constants' as *;
@use '../common/mixins' as *;
@use '../common/utils' as *;

$height: 60px;
$z-index: 2;

.header {
	align-items: center;
	background: map-get($pot-grey, 7);
	color: #fff;
	display: flex;
	font-weight: 700;
	height: $height;
	justify-content: space-between;
	left: 0;
	padding: $buffer-xs $buffer-s;
	position: fixed;
	right: 0;
	top: 0;
	z-index: $z-index;

	a {
		@include focus-outline($light: true);
	}

	&__left,
	&__right {
		align-items: center;
		display: flex;
		height: 100%;
	}

	&__lockup {
		@extend .unstyled-anchor;

		align-items: center;
		display: inline-flex;
		height: 100%;

		&-img {
			height: 100%;
		}

		&-text {
			color: #fff;
			font-size: 2.5rem;
			line-height: 1;
			margin-left: $buffer-xs;
		}
	}

	&__skip {
		margin: 0 $buffer-xs;
		padding: 4px;
		text-align: center;
		transform: translateY(-200%);

		&:active,
		&:focus {
			transform: translateY(0);
		}
	}

	&__actions-item {
		display: flex;
		width: 50px;
	}

	&__sidebar-btn {
		@extend .u-only-handheld;
		@include icon-btn(50px, '../img/menu.svg');
		@include overlayed-pseudo($type: 'before');

		margin-left: $buffer-xs;

		&::before {
			background-color: map-get($pot-blue, 5);
			mask-image: url('../img/close.svg');
			mask-position: center center;
			mask-repeat: no-repeat;
			mask-size: 60%;
			transition: mask-image $transition;
		}

		&:focus,
		&:hover {
			&::before {
				background-color: #fff;
			}
		}

		&:not([sidebar-visible]) {
			&::before {
				display: none;
			}
		}

		&[sidebar-visible] {
			&::after {
				display: none;
			}
		}
	}
}
