.header {
  align-items: center;
  background: map-get($pot-grey, 7);
  color: #fff;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  left: 0;
  padding: $buffer-xs $buffer-s;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  &__sidebar-btn {
    @include icon-btn(50px, '../img/menu.svg');
    @extend .u-only-handheld;

    &[sidebar-visible] {
      &::after {
        mask-image: url('../img/close.svg');
      }
    }
  }
}
