// For sidebar trigger btn styles see `_header.scss`
.sidebar {
	$sidebar-switch-bp: 'desktop';

	background: map-get($pot-grey, 6);
	bottom: 0;
	color: #fff;
	font-weight: 500;
	left: 0;
	overflow-y: auto;
	padding: $buffer-m $buffer-s;
	position: fixed;
	top: $header-height;
	width: $sidebar-width;
	z-index: $sidebar-z-index;

	@include mq($until: $sidebar-switch-bp) {
		padding: $buffer-l;
		text-align: center;
		transform: translateX(100%);
		visibility: hidden;
		width: 100%;

		&[sidebar-visible] {
			animation: slide-in $animation;
		}

		&:not([sidebar-visible]) {
			animation: slide-out $animation;
		}
	}

	&__list {
		list-style: none;
	}


	&__list-item,
	&__list-subitem {
		padding: $buffer-xs;
	}

	&__list-item {
		font-size: 2.5rem;

		@include mq($from: $sidebar-switch-bp) {
			font-size: 2.25rem;
		}
	}

	&__list-subitem {
		font-size: 2rem;

		@include mq($from: $sidebar-switch-bp) {
			font-size: 1.75rem;
			padding-left: $buffer-s;
		}
	}

	&__link {
		font-weight: inherit;

		&,
		&:focus,
		&:visited {
			color: #fff;
		}

		&:focus {
			outline: 2px solid #fff;
		}

		&:hover {
			color: map-get($pot-grey, 2);
		}
	}

	@keyframes slide-in {
		100% {
			transform: translateX(0%);
		}
	}

	@keyframes slide-out {
		0% {
			transform: translateX(0%);
		}

		100% {
			transform: translateX(100%);
		}
	}
}
