@import '../../common/constants';


/* VARIABLES */
$ace-select-list-bg-color: #fff !default;
$ace-select-list-height: auto !default;
$ace-select-selected-option-color: #fff !default;
$ace-select-selected-option-bg-color: $ace-color-selected !default;


/* STYLES */
ace-select {
  position: relative;
}

[ace-select-list] {
  background: $ace-select-list-bg-color;
  height: $ace-select-list-height;
  left: 0;
  list-style: none;
  overflow-y: auto;
  position: absolute;
  text-align: left;
  top: 100%;
  user-select: none;
  white-space: nowrap;
  z-index: $ace-select-list-z-index;

  &:not([ace-select-list-visible="true"]) {
    display: none;
  }

  [aria-selected="true"] {
    background: $ace-select-selected-option-bg-color;
    color: $ace-select-selected-option-color;
  }
}


// Import styles that ensure that the list doesn't overflow outside the viewport.
@import '../../common/utils';
