@import '../listbox/listbox';


/* VARIABLES */
$ace-select-list-background-color: #fff !default;
$ace-select-list-height: auto !default;
$ace-select-list-z-index: 1 !default;


/* STYLES */
ace-select {
  position: relative;
}

[ace-select-list] {
  background: $ace-select-list-background-color;
  height: $ace-select-list-height;
  left: 0;
  list-style: none;
  position: absolute;
  text-align: left;
  top: 100%;
  white-space: nowrap;
  z-index: $ace-select-list-z-index;
}

[ace-select-list-visible="false"] {
  display: none;
}


@import '../../common/utils';
