ace-select {
  position: relative;
}

[ace-select-list] {
  background: #fff;
  color: #000;
  height: auto;
  left: 0;
  list-style: none;
  overflow-y: auto;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  z-index: 1;
}

[ace-select-list]:not([ace-select-list-visible]) {
  display: none;
}

[ace-select-list] [aria-selected="true"] {
  background: steelblue;
  color: #fff;
}

[ace-select-list][ace-u-float-above] {
  bottom: 100%;
  top: initial;
}

[ace-select-list][ace-u-float-left] {
  left: initial;
  right: 0;
}

[ace-select-list][ace-u-float-right] {
  left: 0;
  right: initial;
}
