<button asce-disclosure-trigger-for="disclosure-1">
  Disclosure 1 Toggle Trigger 1
</button>
<button asce-disclosure-trigger-for="disclosure-1">
  Disclosure 1 Toggle Trigger 2
</button>
<br>
<button asce-disclosure-trigger-for="disclosure-2">
  Disclosure 2 Toggle Trigger
</button>
<button
    asce-disclosure-trigger-for="disclosure-2"
    asce-disclosure-show>
  Disclosure 2 Show Trigger
</button>
<button
    asce-disclosure-trigger-for="disclosure-2"
    asce-disclosure-hide>
  Disclosure 2 Hide Trigger
</button>


<asce-disclosure id="disclosure-1">
  <h1>Disclosure 1</h1>
  <p>Initially hidden diclosure.</p>
</asce-disclosure>

<asce-disclosure id="disclosure-2" asce-disclosure-visible>
  <h1>Disclosure 2</h1>
  <p>Initially visible diclosure.</p>
</asce-disclosure>
