<button asce-disclosure-trigger-for="disclosure-1">
  Disclosure 1 Toggle 1
</button>
<button asce-disclosure-trigger-for="disclosure-1">
  Disclosure 1 Toggle 2
</button>
<br>
<button asce-disclosure-trigger-for="disclosure-2">
  Disclosure 2 Toggle
</button>
<button asce-disclosure-trigger-for="disclosure-2" asce-disclosure-show-trigger>
  Disclosure 2 Show
</button>
<button asce-disclosure-trigger-for="disclosure-2" asce-disclosure-hide-trigger>
  Disclosure 2 Hide
</button>


<asce-disclosure id="disclosure-1">
  <h1>Disclosure 1</h1>
  <p>Initially hidden diclosure.</p>
</asce-disclosure>

<asce-disclosure id="disclosure-2" asce-disclosure-visible="true">
  <h1>Disclosure 2</h1>
  <p>Initially visible diclosure.</p>
</asce-disclosure>
