<button asce-disclosure-trigger-for="disclosure-1">
  Disclosure 1 Toggle 1
</button>
<button asce-disclosure-trigger-for="disclosure-1">
  Disclosure 1 Toggle 2
</button>
<br><br>
<button asce-disclosure-trigger-for="disclosure-2">
  Disclosure 2 Toggle
</button>
<button asce-disclosure-trigger-for="disclosure-2" asce-disclosure-trigger-show>
  Disclosure 2 Show
</button>
<button asce-disclosure-trigger-for="disclosure-2" asce-disclosure-trigger-hide>
  Disclosure 2 Hide
</button>

<br><br>

<asce-disclosure id="disclosure-1">
  <div>
    Disclosure 1 - Initially hidden diclosure.
  </div>
</asce-disclosure>

<asce-disclosure id="disclosure-2" asce-disclosure-visible="true">
  <div>
    Disclosure 2 - Initially visible diclosure.
  </div>
</asce-disclosure>
