<button pa11y-disclosure-trigger-for="not-a-real-elem">
    Dummy button
</button>
<button pa11y-disclosure-trigger-for="disclosure3">
    Toggle Disclosure 1
</button>
<button pa11y-disclosure-trigger-for="disclosure4">
    Toggle Disclosure 2
</button>

<pa11y-disclosure id="disclosure3">
    <h1>Disclosure 1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur provident quos placeat id.</p>
</pa11y-disclosure>

<pa11y-disclosure id="disclosure4">
    <h1>Disclosure 2</h1>
    <p>Impedit laboriosam nesciunt id aliquid illo magni illum deserunt distinctio et, ab, perspiciatis placeat consequatur.</p>
</pa11y-disclosure>
