<button asce-disclosure-trigger-for="disclosure5" aria-expanded="true">
    Toggle Disclosure 1
</button>
<button asce-disclosure-trigger-for="disclosure6" aria-expanded="false">
    Toggle Disclosure 2
</button>

<asce-disclosure id="disclosure5">
    <h1>Disclosure 1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur provident quos placeat id.</p>
</asce-disclosure>

<asce-disclosure id="disclosure6">
    <h1>Disclosure 2</h1>
    <p>Impedit laboriosam nesciunt id aliquid illo magni illum deserunt distinctio et, ab, perspiciatis placeat consequatur.</p>
</asce-disclosure>
