/* VARIABLES */
$ace-listbox-active-option-outline: 2px dotted #000 !default;
$ace-listbox-selected-option-bg-color: #c2ddef !default;


/* STYLES */
[ace-listbox-list] {
  list-style-position: inside;
}

[ace-listbox-option-index] {
  &[aria-selected="true"] {
    background: $ace-listbox-selected-option-bg-color;
  }
}

[ace-listbox-active-option] {
  outline: $ace-listbox-active-option-outline;
}
