/* VARIABLES */
$ace-listbox-active-option-outline: 1px dashed slategray !default;
$ace-listbox-selected-option-bg-color: $ace-color-selected !default;


/* STYLES */
[ace-listbox-list] {
  list-style-position: inside;
}

[ace-listbox-option-index] {
  &[aria-selected="true"] {
    background: $ace-listbox-selected-option-bg-color;
  }
}

[ace-listbox-active-option] {
  outline: $ace-listbox-active-option-outline;
}
