@import '../../common/constants';


// VARIABLES
$ace-menu-list-bg-color: #fff !default;
$ace-menu-option-text-color: #000 !default;
$ace-menu-selected-option-bg-color: $ace-color-selected !default;
$ace-menu-selected-option-text-color: #fff !default;


// STYLES
ace-menu {
  position: relative;
}

[ace-menu-list] {
  background: $ace-menu-list-bg-color;
  color: $ace-menu-option-text-color;
  left: 0;
  list-style: none;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  z-index: $ace-menu-list-z-index;

  &:focus {
    outline: none;
  }

  &:not([ace-menu-list-visible]) {
    display: none;
  }

  &[ace-u-float-above] {
    bottom: 100%;
    top: initial;
  }

  &[ace-u-float-left] {
    left: initial;
    right: 0;
  }

  &[ace-u-float-right] {
    left: 0;
    right: initial;
  }
}

[ace-menu-option] {
  &:hover,
  &[aria-selected="true"] {
    background: $ace-menu-selected-option-bg-color;
    color: $ace-menu-selected-option-text-color;
  }
}
