$pa11y-listbox-selected-bg-color: lightgray !default;
$pa11y-listbox-active-outline-color: 2px dotted grey !default;

[pa11y-listbox] {
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}

[role="option"] {
  user-select: none;

  &[aria-selected="true"] {
    background: $pa11y-listbox-selected-bg-color;
  }
}

[pa11y-listbox-active-option] {
  outline: $pa11y-listbox-active-outline-color;
}


/* stylelint-disable */
// DEBUG STYLES FOR VISUAL AID ONLY
#listbox-with-images {
  li {
    align-items: center;
    display: flex;
    padding: 10px;

    img {
      margin-right: 10px;
      width: 20px;
    }
  }
}

[pa11y-listbox] {
  border: 1px solid #000;
  max-height: 100px;
}
/* stylelint-enable */