[a11y-listbox] {
  cursor: default;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}


/* stylelint-disable */
// DEBUG STYLES FOR VISUAL AID ONLY
[a11y-listbox] {
  border: 1px dashed #f00;
  height: 100px;

  li[aria-selected="true"] {
    background: salmon;
  }
}

[a11y-listbox-active-option] {
  outline: 2px dotted dodgerblue;
}
/* stylelint-enable */