/* VARIABLES */
$ace-tooltip-color: #000 !default;


[ace-tooltip-visible="false"] {
  display: none;
}

[ace-tooltip-trigger-for="tooltip"] {
  position: relative;
}

ace-tooltip {
  border: 1px solid $ace-tooltip-color;
  color: $ace-tooltip-color;
  display: block;
  left: 0;
  margin: 1px;
  max-width: fit-content;
  padding: 1px;
  position: absolute;
  top: 100%;
}
