<asce-select id="listbox-with-images">
  <button></button>
  <ul>
    <li>Select an option</li>
    <li>
       <img src="/img/logo.svg">
       Iron Man
    </li>
    <li>
       <img src="/img/logo.svg">
       Nick Fury
    </li>
    <li>
       <img src="/img/logo.svg">
       Hulk
    </li>
    <li>
       <img src="/img/logo.svg">
       Black Widow
    </li>
    <li>
       <img src="/img/logo.svg">
       Thor
    </li>
    <li>
       <img src="/img/logo.svg">
       Captain America
    </li>
    <li>
       <img src="/img/logo.svg">
       Scarlet Witch
    </li>
    <li>
       <img src="/img/logo.svg">
       Ant-Man
    </li>
    <li>
       <img src="/img/logo.svg">
       Spider-man
    </li>
    <li>
       <img src="/img/logo.svg">
       Black Panther
    </li>
    <li>
       <img src="/img/logo.svg">
       Doctor Strange
    </li>
    <li>
       <img src="/img/logo.svg">
       Captain Marvel
    </li>
  </ul>
</asce-select>
