<h1>Disclosure</h1>
<p>Disclosure is a component whose visibility can be changed using trigger buttons and custom events.</p>
<p>Disclosure conforms to the <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#disclosure">W3C WAI-ARIA authoring practices</a>.</p>
<h2>Setup</h2>
<p>First import the styles into your main SASS file, replacing <code>&lt;path-to-node_modules&gt;</code> with the path to the <em>node_modules</em> directory relative to the file:</p>
<pre><code class="language-scss">@import '&lt;path-to-node_modules&gt;/@potato/ace/components/disclosure/disclosure'
</code></pre>
<p>Then import the class into your JavaScript entry point:</p>
<pre><code class="language-js">import '&lt;path-to-node_modules&gt;/@potato/ace/components/disclosure/disclosure';
</code></pre>
<p>For convenience the ES6 class is exported as <code>Disclosure</code> and the attribute names used by the class are exported as properties of <code>ATTRS</code>.</p>
<p>After the event <code>DOMContentLoaded</code> is fired on <code>document</code>, an instance of Disclosure is instantiated within each <code>&lt;ace-disclosure&gt;</code> element, and an ID <code>ace-disclosure-&lt;n&gt;</code> is addded for any instance without one, where <code>&lt;n&gt;</code> is a unique integer. Once instantiation is complete a custom event <code>ace-disclosure-ready</code> is dispatched on <code>window</code>. See the <strong>Custom events</strong> section below for more details.</p>
<h2>Usage</h2>
<p>Disclosures are hidden by default but can be initially shown by adding the <code>ace-disclosure-visible=&quot;true&quot;</code> attribute to it. The attribute <code>ace-disclosure-trigger-for</code> should be added to triggering element and its value set to the ID of the Disclosure to be triggered. For accessibility reasons it is recommended that only <code>&lt;button&gt;</code> elements are used for triggers. Disclosures can also be triggered using custom events, as described in the <strong>Custom events</strong> section below.</p>
<p>Triggers will by default toggle the visibiility of the Disclosure, but the <code>ace-disclosure-show-trigger</code> or <code>ace-disclosure-hide-trigger</code> attribute can be added to the trigger to ensure that it only shows or hides its Disclosure respectively.</p>
<h2>Styles</h2>
<p>The following SASS is applied to the component, each declaration of which can be overridden by a single class selector.</p>
<pre><code class="language-scss">[ace-disclosure-visible=&quot;false&quot;] {
  display: none;
}
</code></pre>
<h2>Custom events</h2>
<p>Disclosure uses the following custom events, the names of which are available in its exported <code>EVENTS</code> object, similar to <code>ATTRS</code>, so they may be imported into other modules.</p>
<h3>Dispatched events</h3>
<p>The following events are dispatched on <code>window</code> by Disclosure.</p>
<h4>Ready</h4>
<p><code>ace-disclosure-ready</code></p>
<p>This event is dispatched when Disclosure finishes initialising. The event name is available as <code>EVENTS.OUT.READY</code>, and its <code>detail</code> property is composed as follows:</p>
<pre><code class="language-js">'detail': {
  'id': // ID of Disclosure [string]
}
</code></pre>
<h4>Changed</h4>
<p><code>ace-disclosure-changed</code></p>
<p>This event is dispatched when Disclosure's visibility changes. The event name is available as <code>EVENTS.OUT.CHANGED</code>, and its <code>detail</code> property is composed as follows:</p>
<pre><code class="language-js">'detail': {
  'id': // ID of Disclosure [string]
  'visible': // Whether the Disclosure is visible or not [boolean]
}
</code></pre>
<h3>Listened for events</h3>
<p>Disclosure listens for the following events, which should be dispatched by the user's code on the specific <code>ace-disclosure</code> element.</p>
<h4>Hide, Show and Toggle</h4>
<p><code>ace-disclosure-hide</code>, <code>ace-disclosure-show</code> &amp; <code>ace-disclosure-toggle</code></p>
<p>These events should be dispatched to hide, show and toggle Disclosure respectively. The event names are available as <code>EVENTS.IN.HIDE</code>, <code>EVENTS.IN.SHOW</code> &amp; <code>EVENTS.IN.TOGGLE</code>.</p>
<h2>Examples</h2>
<p>Each example contains a live demo and the HTML code that produced it. The code shown may differ slightly to that rendered for the demo as some components may alter their HTML when they initialise.</p>
<h3>Simple Disclosure</h3>
<p>This is a simple button triggered Disclosure.</p>
<div class="example-block"><button ace-disclosure-trigger-for="ace-disclosure-1">
  Disclosure toggle
</button>
<hr>
<ace-disclosure id="ace-disclosure-1">
  <h2>Disclosure heading</h2>
  <p>Disclosure content</p>
  <img src="/img/logo.svg" width="50px" alt="Potato logo"/>
</ace-disclosure>
</div>
<pre><code class="language-html">&lt;button ace-disclosure-trigger-for=&quot;ace-disclosure-1&quot;&gt;
  Disclosure toggle
&lt;/button&gt;
&lt;hr&gt;
&lt;ace-disclosure id=&quot;ace-disclosure-1&quot;&gt;
  &lt;h2&gt;Disclosure heading&lt;/h2&gt;
  &lt;p&gt;Disclosure content&lt;/p&gt;
  &lt;img src=&quot;/img/logo.svg&quot; width=&quot;50px&quot; alt=&quot;Potato logo&quot;/&gt;
&lt;/ace-disclosure&gt;
</code></pre>
<h3>Initially visible Disclosure</h3>
<p>In this example Disclosure 1 is initially hidden, whereas Disclosure 2 is initially visible as it has the attribute <code>ace-disclosure-visible=&quot;true&quot;</code>.</p>
<div class="example-block"><button ace-disclosure-trigger-for="basic-disclosure">
  Disclosure 1 toggle trigger 1
</button>
<button ace-disclosure-trigger-for="basic-disclosure">
  Disclosure 1 toggle trigger 2
</button>
<button ace-disclosure-trigger-for="initially-visible-disclosure">
  Disclosure 2 toggle trigger
</button>
<button ace-disclosure-trigger-for="initially-visible-disclosure" ace-disclosure-trigger-show>
  Disclosure 2 show trigger
</button>
<button ace-disclosure-trigger-for="initially-visible-disclosure" ace-disclosure-trigger-hide>
  Disclosure 2 hide trigger
</button>
<hr>
<ace-disclosure id="basic-disclosure">
  <h2>Disclosure 1</h2>
  <p>This Disclosure is initially hidden.</p>
</ace-disclosure>
<ace-disclosure ace-disclosure-visible="true" id="initially-visible-disclosure">
  <h2>Disclosure 2</h2>
  <p>This Disclosure is initially visible becasue it has the attribute <code>ace-disclosure-visible="true"</code>.</p>
</ace-disclosure>
</div>
<pre><code class="language-html">&lt;button ace-disclosure-trigger-for=&quot;basic-disclosure&quot;&gt;
  Disclosure 1 toggle trigger 1
&lt;/button&gt;
&lt;button ace-disclosure-trigger-for=&quot;basic-disclosure&quot;&gt;
  Disclosure 1 toggle trigger 2
&lt;/button&gt;
&lt;button ace-disclosure-trigger-for=&quot;initially-visible-disclosure&quot;&gt;
  Disclosure 2 toggle trigger
&lt;/button&gt;
&lt;button ace-disclosure-trigger-for=&quot;initially-visible-disclosure&quot; ace-disclosure-trigger-show&gt;
  Disclosure 2 show trigger
&lt;/button&gt;
&lt;button ace-disclosure-trigger-for=&quot;initially-visible-disclosure&quot; ace-disclosure-trigger-hide&gt;
  Disclosure 2 hide trigger
&lt;/button&gt;
&lt;hr&gt;
&lt;ace-disclosure id=&quot;basic-disclosure&quot;&gt;
  &lt;h2&gt;Disclosure 1&lt;/h2&gt;
  &lt;p&gt;This Disclosure is initially hidden.&lt;/p&gt;
&lt;/ace-disclosure&gt;

&lt;ace-disclosure ace-disclosure-visible=&quot;true&quot; id=&quot;initially-visible-disclosure&quot;&gt;
  &lt;h2&gt;Disclosure 2&lt;/h2&gt;
  &lt;p&gt;This Disclosure is initially visible becasue it has the attribute &lt;code&gt;ace-disclosure-visible=&quot;true&quot;&lt;/code&gt;.&lt;/p&gt;
&lt;/ace-disclosure&gt;
</code></pre>
<h3>Custom event triggered Disclosure</h3>
<p>Example of Disclosure controlled through custom events. The buttons in this example are <strong>not</strong> trigger buttons and instead dispatch the Disclosure's custom events. This implementation is only for demonstration purposes and trigger buttons should have the <code>ace-disclosure-trigger-for</code> attribute instead. The extra JavaScript code required by this example is also included below.</p>
<div class="example-block"><button id="custom-events-show-btn">
  Show disclosure using custom event
</button>
<button id="custom-events-hide-btn">
  Hide disclosure using custom event
</button>
<button id="custom-events-toggle-btn">
  Toggle disclosure using custom event
</button>
<hr>
<ace-disclosure id="custom-events-disclosure">
  <h2>Custom event Disclosure</h2>
  <p>This Disclosure's visibility is controlled using custom events.</p>
</ace-disclosure>
</div>
<pre><code class="language-html">&lt;button id=&quot;custom-events-show-btn&quot;&gt;
  Show disclosure using custom event
&lt;/button&gt;
&lt;button id=&quot;custom-events-hide-btn&quot;&gt;
  Hide disclosure using custom event
&lt;/button&gt;
&lt;button id=&quot;custom-events-toggle-btn&quot;&gt;
  Toggle disclosure using custom event
&lt;/button&gt;
&lt;hr&gt;
&lt;ace-disclosure id=&quot;custom-events-disclosure&quot;&gt;
  &lt;h2&gt;Custom event Disclosure&lt;/h2&gt;
  &lt;p&gt;This Disclosure's visibility is controlled using custom events.&lt;/p&gt;
&lt;/ace-disclosure&gt;
</code></pre>
<pre><code class="language-js">import {EVENTS} from '/ace/components/disclosure/disclosure.js';

document.addEventListener('DOMContentLoaded', () =&gt; {
  const disclosureEl = document.getElementById('custom-events-disclosure');
  window.addEventListener('click', (e) =&gt; {
    const customEventHideBtnClicked = e.target.closest('#custom-events-hide-btn');
    const customEventShowBtnClicked = e.target.closest('#custom-events-show-btn');
    const customEventToggleBtnClicked = e.target.closest('#custom-events-toggle-btn');

    if (!customEventToggleBtnClicked &amp;&amp; !customEventShowBtnClicked &amp;&amp; !customEventHideBtnClicked) {
      return;
    }

    let eventType = EVENTS.IN.TOGGLE;
    if (customEventShowBtnClicked) {
      eventType = EVENTS.IN.SHOW;
    }
    if (customEventHideBtnClicked) {
      eventType = EVENTS.IN.HIDE;
    }

    disclosureEl.dispatchEvent(new CustomEvent(eventType));
  });
});
</code></pre>
