<h1>Disclosure</h1>
<p>Disclosure is a component whose visibility can be changed using trigger buttons and custom events. Disclosure conforms to W3C WAI-ARIA authoring practices specified <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#disclosure">here</a>.</p>
<h2>Instantiation</h2>
<p>First import the styles into your main SASS file, replacing <code>&lt;path-to-node_modules&gt;</code> with the path to the <em>node_modules</em> directory relative to the file:</p>
<pre><code class="language-scss">@import '&lt;path-to-node_modules&gt;/@potato/ace/components/disclosure/disclosure'
</code></pre>
<p>Then import the class into your JavaScript entry point:</p>
<pre><code class="language-js">import '&lt;path-to-node_modules&gt;/@potato/ace/components/disclosure/disclosure';
</code></pre>
<p>For the sake of convenience the ES6 class is exported as <code>Disclosure</code>. To avoid name clashes the <code>as</code> keyword can be used when importing, e.g. <code>import Disclosure as aceDisclosure from ...</code>. The attribute names used by the class are also exported as properties of <code>ATTRS</code>.</p>
<p>After <code>DOMContentLoaded</code> is fired, Disclosure automatically instantiates an instance of itself within each <code>ace-disclosure</code> element. Disclosure then adds an ID <code>ace-disclosure-&lt;n&gt;</code> for any instance without one, where <code>&lt;n&gt;</code> is the instance number. Once instantiation is complete a custom event <code>ace-disclosure-ready</code> is dispatched on <code>window</code>. See the <strong>Custom events</strong> section below for more details.</p>
<p>Disclosures are hidden by default but can be initially shown by adding the <code>ace-disclosure-visible=&quot;true&quot;</code> attribute to it. The attribute <code>ace-disclosure-trigger-for=&lt;disclosure-id&gt;</code> should be added to triggering elements, where <code>&lt;disclosure-id&gt;</code> is that of the Disclosure to be triggered. For accessibility reasons it is recommended that only <code>&lt;button&gt;</code>s are used for triggers. Disclosures can also be triggered using custom events, as described in the <strong>Custom events</strong> section below.</p>
<p>Triggers will by default toggle the visibiility of the Disclosure, but the <code>ace-disclosure-show-trigger</code> or <code>ace-disclosure-hide-trigger</code> attribute can be added to the trigger to ensure that it only shows or hides its Disclosure respectively.</p>
<h2>Styles</h2>
<p>The following SASS is applied to the component, each declaration of which can be overridden by a single class selector.</p>
<pre><code class="language-scss">[ace-disclosure-visible=&quot;false&quot;] {
  display: none;
}
</code></pre>
<h2>Custom events</h2>
<p>Disclosure uses the following custom events, the names of which are available in its exported <code>EVENTS</code> object, similar to <code>ATTRS</code>, so they may be imported into other modules.</p>
<h3>Ready</h3>
<p><code>ace-disclosure-ready</code></p>
<p>This event is dispatched on <code>window</code> when Disclosure finishes initialising. The event name is available as the value of the <code>READY</code> property of the exported <code>EVENTS</code> object, and its <code>detail</code> property is composed as follows:</p>
<pre><code class="language-js">'detail': {
  'id': // ID of Disclosure [string]
}
</code></pre>
<h3>Changed</h3>
<p><code>ace-disclosure-changed</code></p>
<p>This event is dispatched when a Disclosure visibility is changed. The event name is available as the value of the <code>CHANGED</code> property of the exported <code>EVENTS</code> object, and its <code>detail</code> property is composed as follows:</p>
<pre><code class="language-js">'detail': {
  'id': // ID of Disclosure [string],
  'visible': // Whether the Disclosure is visible or not [boolean]
}
</code></pre>
<h3>Hide, Show and Toggle</h3>
<p><code>ace-disclosure-hide</code>, <code>ace-disclosure-show</code> &amp; <code>ace-disclosure-toggle</code></p>
<p>These events should be dispatched on <code>window</code> to hide, show and toggle Disclosure respectively. The event names are available as the values of the <code>HIDE</code>, <code>SHOW</code> &amp; <code>TOGGLE</code> properties of the exported <code>EVENTS</code> object and their <code>detail</code> objects should be composed as follows:</p>
<pre><code class="language-js">'detail': {
  'id': // ID of Disclosure [string]
}
</code></pre>
<h2>Examples</h2>
<p>Each example contains a live demo and the HTML code that produced it. The code shown may differ slightly to that rendered for the demo as some components may alter their HTML when they initialise.</p>
<h3>Simple Disclosure</h3>
<p>This is a simple button triggered Disclosure.</p>
<div class="example-block"><button ace-disclosure-trigger-for="disclosure">
  Disclosure Toggle
</button>
<br><br>
<ace-disclosure id="disclosure">
  <h2>Disclosure heading</h2>
  <p>Disclosure content</p>
  <img src="/img/logo.svg" width="50px" alt="potato logo"/>
</ace-disclosure>
</div>
<pre><code class="language-html">&lt;button ace-disclosure-trigger-for=&quot;disclosure&quot;&gt;
  Disclosure Toggle
&lt;/button&gt;
&lt;br&gt;&lt;br&gt;
&lt;ace-disclosure id=&quot;disclosure&quot;&gt;
  &lt;h2&gt;Disclosure heading&lt;/h2&gt;
  &lt;p&gt;Disclosure content&lt;/p&gt;
  &lt;img src=&quot;/img/logo.svg&quot; width=&quot;50px&quot; alt=&quot;potato logo&quot;/&gt;
&lt;/ace-disclosure&gt;
</code></pre>
<h3>Initially visible Disclosure</h3>
<p>In this example Disclosure 1 is initially hidden, whereas Disclosure 2 is initially visible as it has the attribute <code>ace-disclosure-visible=&quot;true&quot;</code>.</p>
<div class="example-block"><button ace-disclosure-trigger-for="disclosure-1">
  Disclosure 1 Toggle 1
</button>
<button ace-disclosure-trigger-for="disclosure-1">
  Disclosure 1 Toggle 2
</button>
<button ace-disclosure-trigger-for="disclosure-2">
  Disclosure 2 Toggle
</button>
<button ace-disclosure-trigger-for="disclosure-2" ace-disclosure-trigger-show>
  Disclosure 2 Show
</button>
<button ace-disclosure-trigger-for="disclosure-2" ace-disclosure-trigger-hide>
  Disclosure 2 Hide
</button>
<br><br>
<ace-disclosure id="disclosure-1">
  <div>
    Disclosure 1 - Initially hidden diclosure.
  </div>
</ace-disclosure>
<ace-disclosure id="disclosure-2" ace-disclosure-visible="true">
  <div>
    Disclosure 2 - Initially visible diclosure.
  </div>
</ace-disclosure>
</div>
<pre><code class="language-html">&lt;button ace-disclosure-trigger-for=&quot;disclosure-1&quot;&gt;
  Disclosure 1 Toggle 1
&lt;/button&gt;
&lt;button ace-disclosure-trigger-for=&quot;disclosure-1&quot;&gt;
  Disclosure 1 Toggle 2
&lt;/button&gt;
&lt;button ace-disclosure-trigger-for=&quot;disclosure-2&quot;&gt;
  Disclosure 2 Toggle
&lt;/button&gt;
&lt;button ace-disclosure-trigger-for=&quot;disclosure-2&quot; ace-disclosure-trigger-show&gt;
  Disclosure 2 Show
&lt;/button&gt;
&lt;button ace-disclosure-trigger-for=&quot;disclosure-2&quot; ace-disclosure-trigger-hide&gt;
  Disclosure 2 Hide
&lt;/button&gt;
&lt;br&gt;&lt;br&gt;
&lt;ace-disclosure id=&quot;disclosure-1&quot;&gt;
  &lt;div&gt;
    Disclosure 1 - Initially hidden diclosure.
  &lt;/div&gt;
&lt;/ace-disclosure&gt;

&lt;ace-disclosure id=&quot;disclosure-2&quot; ace-disclosure-visible=&quot;true&quot;&gt;
  &lt;div&gt;
    Disclosure 2 - Initially visible diclosure.
  &lt;/div&gt;
&lt;/ace-disclosure&gt;
</code></pre>
<h3>Custom event triggered Disclosure</h3>
<p>Example of Disclosure controlled through custom events. The buttons in this example are <strong>not</strong> trigger buttons and instead dispatch the Disclosure's custom events. This implementation is only for demonstration purposes and trigger buttons should have the <code>ace-disclosure-trigger-for</code> attribute instead. The extra JavaScript code required by this example is also included below.</p>
<div class="example-block"><button id="custom-event-show-btn">
  Show disclosure using custom event
</button>
<button id="custom-event-hide-btn">
  Hide disclosure using custom event
</button>
<button id="custom-event-toggle-btn">
  Toggle disclosure using custom event
</button>
<br><br>
<ace-disclosure id="custom-event-triggered-disclosure">
  <p>Disclosure toggled using custom events.</p>
</ace-disclosure>
</div>
<pre><code class="language-html">&lt;button id=&quot;custom-event-show-btn&quot;&gt;
  Show disclosure using custom event
&lt;/button&gt;
&lt;button id=&quot;custom-event-hide-btn&quot;&gt;
  Hide disclosure using custom event
&lt;/button&gt;
&lt;button id=&quot;custom-event-toggle-btn&quot;&gt;
  Toggle disclosure using custom event
&lt;/button&gt;
&lt;br&gt;&lt;br&gt;
&lt;ace-disclosure id=&quot;custom-event-triggered-disclosure&quot;&gt;
  &lt;p&gt;Disclosure toggled using custom events.&lt;/p&gt;
&lt;/ace-disclosure&gt;
</code></pre>
<pre><code class="language-js">import {EVENTS} from '/ace/components/disclosure/disclosure.js';

document.addEventListener('DOMContentLoaded', () =&gt; {
  window.addEventListener('click', (e) =&gt; {
    const customEventHideBtnClicked = e.target.closest('#custom-event-hide-btn');
    const customEventShowBtnClicked = e.target.closest('#custom-event-show-btn');
    const customEventToggleBtnClicked = e.target.closest('#custom-event-toggle-btn');

    if (!customEventToggleBtnClicked &amp;&amp; !customEventShowBtnClicked &amp;&amp; !customEventHideBtnClicked) {
      return;
    }

    let eventType = EVENTS.TOGGLE;

    if (customEventShowBtnClicked) {
      eventType = EVENTS.SHOW;
    }

    if (customEventHideBtnClicked) {
      eventType = EVENTS.HIDE;
    }

    window.dispatchEvent(new CustomEvent(
      eventType,
      {
        'detail': {
          'id': 'custom-event-triggered-disclosure',
        }
      },
    ));
  });
});
</code></pre>
